ul.lst-kix_dmpnmudtdrvf-4 {
    list-style-type: none;
}
.lst-kix_5nrikw8pbhc2-2 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_dmpnmudtdrvf-5 {
    list-style-type: none;
}
ul.lst-kix_dmpnmudtdrvf-6 {
    list-style-type: none;
}
.lst-kix_5nrikw8pbhc2-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_5nrikw8pbhc2-3 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_dmpnmudtdrvf-7 {
    list-style-type: none;
}
ul.lst-kix_dmpnmudtdrvf-8 {
    list-style-type: none;
}
.lst-kix_ip9q3bszi9mj-0 > li:before {
    content: "-  ";
}
ul.lst-kix_p7wcxjtqyptg-7 {
    list-style-type: none;
}
ul.lst-kix_p7wcxjtqyptg-8 {
    list-style-type: none;
}
ul.lst-kix_p7wcxjtqyptg-5 {
    list-style-type: none;
}
.lst-kix_5nrikw8pbhc2-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_ip9q3bszi9mj-1 > li:before {
    content: "-  ";
}
.lst-kix_ip9q3bszi9mj-3 > li:before {
    content: "-  ";
}
ul.lst-kix_p7wcxjtqyptg-6 {
    list-style-type: none;
}
.lst-kix_4s81ozpj2w8y-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_5nrikw8pbhc2-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_5nrikw8pbhc2-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_ip9q3bszi9mj-2 > li:before {
    content: "-  ";
}
ul.lst-kix_4s81ozpj2w8y-1 {
    list-style-type: none;
}
ul.lst-kix_p7wcxjtqyptg-0 {
    list-style-type: none;
}
ul.lst-kix_4s81ozpj2w8y-0 {
    list-style-type: none;
}
.lst-kix_4s81ozpj2w8y-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_4s81ozpj2w8y-6 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_p7wcxjtqyptg-3 {
    list-style-type: none;
}
ul.lst-kix_4s81ozpj2w8y-5 {
    list-style-type: none;
}
ul.lst-kix_p7wcxjtqyptg-4 {
    list-style-type: none;
}
ul.lst-kix_4s81ozpj2w8y-4 {
    list-style-type: none;
}
ul.lst-kix_p7wcxjtqyptg-1 {
    list-style-type: none;
}
ul.lst-kix_4s81ozpj2w8y-3 {
    list-style-type: none;
}
ul.lst-kix_p7wcxjtqyptg-2 {
    list-style-type: none;
}
ul.lst-kix_4s81ozpj2w8y-2 {
    list-style-type: none;
}
.lst-kix_4s81ozpj2w8y-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_4s81ozpj2w8y-7 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_4s81ozpj2w8y-8 {
    list-style-type: none;
}
ul.lst-kix_4s81ozpj2w8y-7 {
    list-style-type: none;
}
ul.lst-kix_4s81ozpj2w8y-6 {
    list-style-type: none;
}
.lst-kix_4s81ozpj2w8y-5 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_efrokonnf13e-3 {
    list-style-type: none;
}
ul.lst-kix_efrokonnf13e-2 {
    list-style-type: none;
}
ul.lst-kix_efrokonnf13e-5 {
    list-style-type: none;
}
ul.lst-kix_efrokonnf13e-4 {
    list-style-type: none;
}
ul.lst-kix_efrokonnf13e-7 {
    list-style-type: none;
}
ul.lst-kix_efrokonnf13e-6 {
    list-style-type: none;
}
ul.lst-kix_efrokonnf13e-8 {
    list-style-type: none;
}
.lst-kix_b8sgq9793b8r-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_5nrikw8pbhc2-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_5nrikw8pbhc2-5 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_dmpnmudtdrvf-0 {
    list-style-type: none;
}
.lst-kix_5nrikw8pbhc2-4 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_dmpnmudtdrvf-1 {
    list-style-type: none;
}
ul.lst-kix_v0te4cb8sxfo-0 {
    list-style-type: none;
}
ul.lst-kix_dmpnmudtdrvf-2 {
    list-style-type: none;
}
ul.lst-kix_v0te4cb8sxfo-1 {
    list-style-type: none;
}
ul.lst-kix_dmpnmudtdrvf-3 {
    list-style-type: none;
}
ul.lst-kix_v0te4cb8sxfo-2 {
    list-style-type: none;
}
.lst-kix_b8sgq9793b8r-3 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_v0te4cb8sxfo-3 {
    list-style-type: none;
}
ul.lst-kix_v0te4cb8sxfo-4 {
    list-style-type: none;
}
.lst-kix_b8sgq9793b8r-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_b8sgq9793b8r-4 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_v0te4cb8sxfo-5 {
    list-style-type: none;
}
ul.lst-kix_v0te4cb8sxfo-6 {
    list-style-type: none;
}
.lst-kix_b8sgq9793b8r-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_b8sgq9793b8r-5 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_v0te4cb8sxfo-7 {
    list-style-type: none;
}
ul.lst-kix_v0te4cb8sxfo-8 {
    list-style-type: none;
}
ul.lst-kix_5nrikw8pbhc2-0 {
    list-style-type: none;
}
.lst-kix_b8sgq9793b8r-7 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_5nrikw8pbhc2-1 {
    list-style-type: none;
}
.lst-kix_b8sgq9793b8r-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_b8sgq9793b8r-6 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_5nrikw8pbhc2-2 {
    list-style-type: none;
}
ul.lst-kix_5nrikw8pbhc2-3 {
    list-style-type: none;
}
ul.lst-kix_5nrikw8pbhc2-4 {
    list-style-type: none;
}
ul.lst-kix_5nrikw8pbhc2-5 {
    list-style-type: none;
}
ul.lst-kix_5nrikw8pbhc2-6 {
    list-style-type: none;
}
ul.lst-kix_5nrikw8pbhc2-7 {
    list-style-type: none;
}
ul.lst-kix_5nrikw8pbhc2-8 {
    list-style-type: none;
}
ul.lst-kix_efrokonnf13e-1 {
    list-style-type: none;
}
ul.lst-kix_efrokonnf13e-0 {
    list-style-type: none;
}
ul.lst-kix_ip9q3bszi9mj-1 {
    list-style-type: none;
}
ul.lst-kix_tlua3fymsmik-2 {
    list-style-type: none;
}
.lst-kix_3nyi5tc2belh-2 > li:before {
    content: "-  ";
}
ul.lst-kix_ip9q3bszi9mj-2 {
    list-style-type: none;
}
ul.lst-kix_tlua3fymsmik-3 {
    list-style-type: none;
}
ul.lst-kix_tlua3fymsmik-4 {
    list-style-type: none;
}
ul.lst-kix_ip9q3bszi9mj-0 {
    list-style-type: none;
}
ul.lst-kix_tlua3fymsmik-5 {
    list-style-type: none;
}
ul.lst-kix_ip9q3bszi9mj-5 {
    list-style-type: none;
}
ul.lst-kix_tlua3fymsmik-6 {
    list-style-type: none;
}
.lst-kix_4s81ozpj2w8y-0 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_ip9q3bszi9mj-6 {
    list-style-type: none;
}
ul.lst-kix_tlua3fymsmik-7 {
    list-style-type: none;
}
ul.lst-kix_ip9q3bszi9mj-3 {
    list-style-type: none;
}
ul.lst-kix_tlua3fymsmik-8 {
    list-style-type: none;
}
.lst-kix_3nyi5tc2belh-3 > li:before {
    content: "-  ";
}
ul.lst-kix_ip9q3bszi9mj-4 {
    list-style-type: none;
}
ul.lst-kix_8jmusp7m38ul-8 {
    list-style-type: none;
}
.lst-kix_4s81ozpj2w8y-2 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_ip9q3bszi9mj-7 {
    list-style-type: none;
}
ul.lst-kix_ip9q3bszi9mj-8 {
    list-style-type: none;
}
.lst-kix_3nyi5tc2belh-0 > li:before {
    content: "-  ";
}
.lst-kix_3nyi5tc2belh-8 > li:before {
    content: "-  ";
}
ul.lst-kix_tlua3fymsmik-0 {
    list-style-type: none;
}
.lst-kix_4s81ozpj2w8y-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_3nyi5tc2belh-1 > li:before {
    content: "-  ";
}
ul.lst-kix_tlua3fymsmik-1 {
    list-style-type: none;
}
.lst-kix_8jmusp7m38ul-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_3nyi5tc2belh-7 > li:before {
    content: "-  ";
}
.lst-kix_8jmusp7m38ul-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_3nyi5tc2belh-6 > li:before {
    content: "-  ";
}
ul.lst-kix_8jmusp7m38ul-7 {
    list-style-type: none;
}
ul.lst-kix_8jmusp7m38ul-6 {
    list-style-type: none;
}
ul.lst-kix_8jmusp7m38ul-5 {
    list-style-type: none;
}
ul.lst-kix_8jmusp7m38ul-4 {
    list-style-type: none;
}
.lst-kix_3nyi5tc2belh-4 > li:before {
    content: "-  ";
}
ul.lst-kix_8jmusp7m38ul-3 {
    list-style-type: none;
}
ul.lst-kix_8jmusp7m38ul-2 {
    list-style-type: none;
}
.lst-kix_3nyi5tc2belh-5 > li:before {
    content: "-  ";
}
ul.lst-kix_8jmusp7m38ul-1 {
    list-style-type: none;
}
ul.lst-kix_8jmusp7m38ul-0 {
    list-style-type: none;
}
ul.lst-kix_58ybh32nx2w0-0 {
    list-style-type: none;
}
.lst-kix_8jmusp7m38ul-5 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_58ybh32nx2w0-2 {
    list-style-type: none;
}
ul.lst-kix_58ybh32nx2w0-1 {
    list-style-type: none;
}
.lst-kix_8jmusp7m38ul-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_3f107w8i1j09-7 > li:before {
    content: "-  ";
}
ul.lst-kix_58ybh32nx2w0-8 {
    list-style-type: none;
}
.lst-kix_8jmusp7m38ul-1 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_58ybh32nx2w0-7 {
    list-style-type: none;
}
ul.lst-kix_58ybh32nx2w0-4 {
    list-style-type: none;
}
ul.lst-kix_58ybh32nx2w0-3 {
    list-style-type: none;
}
ul.lst-kix_58ybh32nx2w0-6 {
    list-style-type: none;
}
.lst-kix_3f107w8i1j09-5 > li:before {
    content: "-  ";
}
ul.lst-kix_58ybh32nx2w0-5 {
    list-style-type: none;
}
.lst-kix_v502745rxr7y-1 > li:before {
    content: "-  ";
}
.lst-kix_dmpnmudtdrvf-7 > li:before {
    content: "-  ";
}
.lst-kix_v502745rxr7y-3 > li:before {
    content: "-  ";
}
.lst-kix_p7wcxjtqyptg-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_dmpnmudtdrvf-1 > li:before {
    content: "-  ";
}
.lst-kix_p7wcxjtqyptg-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_v502745rxr7y-7 > li:before {
    content: "-  ";
}
.lst-kix_v502745rxr7y-5 > li:before {
    content: "-  ";
}
.lst-kix_dmpnmudtdrvf-3 > li:before {
    content: "-  ";
}
.lst-kix_dmpnmudtdrvf-5 > li:before {
    content: "-  ";
}
ul.lst-kix_cuh5xneokz4e-1 {
    list-style-type: none;
}
ul.lst-kix_cuh5xneokz4e-0 {
    list-style-type: none;
}
.lst-kix_cuh5xneokz4e-4 > li:before {
    content: "-  ";
}
.lst-kix_cuh5xneokz4e-6 > li:before {
    content: "-  ";
}
.lst-kix_efrokonnf13e-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_efrokonnf13e-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_cuh5xneokz4e-8 > li:before {
    content: "-  ";
}
.lst-kix_efrokonnf13e-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_cuh5xneokz4e-0 > li:before {
    content: "-  ";
}
ul.lst-kix_cuh5xneokz4e-3 {
    list-style-type: none;
}
ul.lst-kix_cuh5xneokz4e-2 {
    list-style-type: none;
}
ul.lst-kix_cuh5xneokz4e-5 {
    list-style-type: none;
}
.lst-kix_ip9q3bszi9mj-5 > li:before {
    content: "-  ";
}
.lst-kix_ip9q3bszi9mj-7 > li:before {
    content: "-  ";
}
ul.lst-kix_cuh5xneokz4e-4 {
    list-style-type: none;
}
ul.lst-kix_cuh5xneokz4e-7 {
    list-style-type: none;
}
ul.lst-kix_cuh5xneokz4e-6 {
    list-style-type: none;
}
ul.lst-kix_cuh5xneokz4e-8 {
    list-style-type: none;
}
.lst-kix_efrokonnf13e-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_cuh5xneokz4e-2 > li:before {
    content: "-  ";
}
.lst-kix_58ybh32nx2w0-8 > li:before {
    content: "-  ";
}
.lst-kix_mcai95sckpwg-2 > li:before {
    content: "-  ";
}
.lst-kix_58ybh32nx2w0-6 > li:before {
    content: "-  ";
}
.lst-kix_mcai95sckpwg-0 > li:before {
    content: "-  ";
}
.lst-kix_mcai95sckpwg-4 > li:before {
    content: "-  ";
}
.lst-kix_58ybh32nx2w0-7 > li:before {
    content: "-  ";
}
.lst-kix_mcai95sckpwg-3 > li:before {
    content: "-  ";
}
.lst-kix_mcai95sckpwg-6 > li:before {
    content: "-  ";
}
.lst-kix_batnbb5hb12k-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_tlua3fymsmik-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_58ybh32nx2w0-4 > li:before {
    content: "-  ";
}
.lst-kix_batnbb5hb12k-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_mcai95sckpwg-5 > li:before {
    content: "-  ";
}
.lst-kix_batnbb5hb12k-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_58ybh32nx2w0-5 > li:before {
    content: "-  ";
}
ul.lst-kix_3f107w8i1j09-3 {
    list-style-type: none;
}
.lst-kix_batnbb5hb12k-6 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_3f107w8i1j09-2 {
    list-style-type: none;
}
.lst-kix_v0te4cb8sxfo-5 > li:before {
    content: "-  ";
}
.lst-kix_v0te4cb8sxfo-6 > li:before {
    content: "-  ";
}
ul.lst-kix_3f107w8i1j09-1 {
    list-style-type: none;
}
.lst-kix_58ybh32nx2w0-0 > li:before {
    content: "-  ";
}
.lst-kix_58ybh32nx2w0-2 > li:before {
    content: "-  ";
}
ul.lst-kix_3f107w8i1j09-0 {
    list-style-type: none;
}
ul.lst-kix_nrvv5jgmwbal-0 {
    list-style-type: none;
}
ul.lst-kix_nrvv5jgmwbal-1 {
    list-style-type: none;
}
.lst-kix_batnbb5hb12k-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_batnbb5hb12k-7 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_nrvv5jgmwbal-2 {
    list-style-type: none;
}
.lst-kix_58ybh32nx2w0-3 > li:before {
    content: "-  ";
}
ul.lst-kix_3nyi5tc2belh-0 {
    list-style-type: none;
}
ul.lst-kix_nrvv5jgmwbal-3 {
    list-style-type: none;
}
ul.lst-kix_3nyi5tc2belh-1 {
    list-style-type: none;
}
ul.lst-kix_nrvv5jgmwbal-4 {
    list-style-type: none;
}
ul.lst-kix_3nyi5tc2belh-2 {
    list-style-type: none;
}
ul.lst-kix_nrvv5jgmwbal-5 {
    list-style-type: none;
}
ul.lst-kix_3nyi5tc2belh-3 {
    list-style-type: none;
}
ul.lst-kix_nrvv5jgmwbal-6 {
    list-style-type: none;
}
ul.lst-kix_3f107w8i1j09-8 {
    list-style-type: none;
}
ul.lst-kix_3nyi5tc2belh-4 {
    list-style-type: none;
}
ul.lst-kix_nrvv5jgmwbal-7 {
    list-style-type: none;
}
ul.lst-kix_3f107w8i1j09-7 {
    list-style-type: none;
}
.lst-kix_batnbb5hb12k-4 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_3nyi5tc2belh-5 {
    list-style-type: none;
}
ul.lst-kix_nrvv5jgmwbal-8 {
    list-style-type: none;
}
ul.lst-kix_3f107w8i1j09-6 {
    list-style-type: none;
}
ul.lst-kix_3nyi5tc2belh-6 {
    list-style-type: none;
}
.lst-kix_v0te4cb8sxfo-7 > li:before {
    content: "-  ";
}
.lst-kix_v0te4cb8sxfo-8 > li:before {
    content: "-  ";
}
ul.lst-kix_3f107w8i1j09-5 {
    list-style-type: none;
}
.lst-kix_mcai95sckpwg-1 > li:before {
    content: "-  ";
}
.lst-kix_batnbb5hb12k-5 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_3nyi5tc2belh-7 {
    list-style-type: none;
}
.lst-kix_58ybh32nx2w0-1 > li:before {
    content: "-  ";
}
ul.lst-kix_3f107w8i1j09-4 {
    list-style-type: none;
}
ul.lst-kix_3nyi5tc2belh-8 {
    list-style-type: none;
}
.lst-kix_tlua3fymsmik-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_batnbb5hb12k-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_tlua3fymsmik-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_tlua3fymsmik-7 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_v502745rxr7y-8 {
    list-style-type: none;
}
.lst-kix_tlua3fymsmik-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_tlua3fymsmik-5 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_v502745rxr7y-6 {
    list-style-type: none;
}
ul.lst-kix_v502745rxr7y-7 {
    list-style-type: none;
}
ul.lst-kix_v502745rxr7y-4 {
    list-style-type: none;
}
.lst-kix_mcai95sckpwg-8 > li:before {
    content: "-  ";
}
ul.lst-kix_v502745rxr7y-5 {
    list-style-type: none;
}
ul.lst-kix_v502745rxr7y-2 {
    list-style-type: none;
}
.lst-kix_mcai95sckpwg-7 > li:before {
    content: "-  ";
}
ul.lst-kix_v502745rxr7y-3 {
    list-style-type: none;
}
ul.lst-kix_v502745rxr7y-0 {
    list-style-type: none;
}
ul.lst-kix_v502745rxr7y-1 {
    list-style-type: none;
}
.lst-kix_tlua3fymsmik-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_tlua3fymsmik-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_tlua3fymsmik-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_nrvv5jgmwbal-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_nrvv5jgmwbal-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_nrvv5jgmwbal-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_nrvv5jgmwbal-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_3rnt0so0hmof-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_3rnt0so0hmof-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_wtvzh6wo6ar8-8 > li:before {
    content: "-  ";
}
.lst-kix_p7wcxjtqyptg-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_p7wcxjtqyptg-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_3f107w8i1j09-0 > li:before {
    content: "-  ";
}
.lst-kix_wtvzh6wo6ar8-0 > li:before {
    content: "-  ";
}
.lst-kix_p7wcxjtqyptg-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_p7wcxjtqyptg-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_wtvzh6wo6ar8-1 > li:before {
    content: "-  ";
}
.lst-kix_3f107w8i1j09-3 > li:before {
    content: "-  ";
}
.lst-kix_p7wcxjtqyptg-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_v0te4cb8sxfo-2 > li:before {
    content: "-  ";
}
.lst-kix_3f107w8i1j09-2 > li:before {
    content: "-  ";
}
.lst-kix_v0te4cb8sxfo-3 > li:before {
    content: "-  ";
}
.lst-kix_v0te4cb8sxfo-4 > li:before {
    content: "-  ";
}
.lst-kix_3f107w8i1j09-1 > li:before {
    content: "-  ";
}
.lst-kix_3rnt0so0hmof-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_wtvzh6wo6ar8-7 > li:before {
    content: "-  ";
}
.lst-kix_nrvv5jgmwbal-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_wtvzh6wo6ar8-6 > li:before {
    content: "-  ";
}
.lst-kix_nrvv5jgmwbal-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_nrvv5jgmwbal-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_3rnt0so0hmof-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_3rnt0so0hmof-7 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_batnbb5hb12k-5 {
    list-style-type: none;
}
.lst-kix_wtvzh6wo6ar8-5 > li:before {
    content: "-  ";
}
.lst-kix_nrvv5jgmwbal-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_nrvv5jgmwbal-4 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_batnbb5hb12k-6 {
    list-style-type: none;
}
ul.lst-kix_batnbb5hb12k-7 {
    list-style-type: none;
}
.lst-kix_3rnt0so0hmof-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_3rnt0so0hmof-6 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_batnbb5hb12k-8 {
    list-style-type: none;
}
ul.lst-kix_batnbb5hb12k-1 {
    list-style-type: none;
}
.lst-kix_wtvzh6wo6ar8-3 > li:before {
    content: "-  ";
}
ul.lst-kix_batnbb5hb12k-2 {
    list-style-type: none;
}
ul.lst-kix_batnbb5hb12k-3 {
    list-style-type: none;
}
.lst-kix_wtvzh6wo6ar8-2 > li:before {
    content: "-  ";
}
.lst-kix_wtvzh6wo6ar8-4 > li:before {
    content: "-  ";
}
.lst-kix_v0te4cb8sxfo-1 > li:before {
    content: "-  ";
}
.lst-kix_3rnt0so0hmof-3 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_batnbb5hb12k-4 {
    list-style-type: none;
}
.lst-kix_v0te4cb8sxfo-0 > li:before {
    content: "-  ";
}
.lst-kix_3rnt0so0hmof-4 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_batnbb5hb12k-0 {
    list-style-type: none;
}
.lst-kix_8jmusp7m38ul-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_3f107w8i1j09-8 > li:before {
    content: "-  ";
}
.lst-kix_8jmusp7m38ul-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_efrokonnf13e-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_3f107w8i1j09-4 > li:before {
    content: "-  ";
}
.lst-kix_3f107w8i1j09-6 > li:before {
    content: "-  ";
}
.lst-kix_8jmusp7m38ul-2 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_mcai95sckpwg-7 {
    list-style-type: none;
}
ul.lst-kix_mcai95sckpwg-6 {
    list-style-type: none;
}
.lst-kix_v502745rxr7y-0 > li:before {
    content: "-  ";
}
.lst-kix_v502745rxr7y-2 > li:before {
    content: "-  ";
}
.lst-kix_dmpnmudtdrvf-6 > li:before {
    content: "-  ";
}
.lst-kix_dmpnmudtdrvf-8 > li:before {
    content: "-  ";
}
ul.lst-kix_mcai95sckpwg-8 {
    list-style-type: none;
}
ul.lst-kix_mcai95sckpwg-3 {
    list-style-type: none;
}
ul.lst-kix_mcai95sckpwg-2 {
    list-style-type: none;
}
ul.lst-kix_mcai95sckpwg-5 {
    list-style-type: none;
}
.lst-kix_8jmusp7m38ul-0 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_mcai95sckpwg-4 {
    list-style-type: none;
}
.lst-kix_p7wcxjtqyptg-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_dmpnmudtdrvf-2 > li:before {
    content: "-  ";
}
.lst-kix_p7wcxjtqyptg-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_v502745rxr7y-8 > li:before {
    content: "-  ";
}
.lst-kix_v502745rxr7y-4 > li:before {
    content: "-  ";
}
.lst-kix_v502745rxr7y-6 > li:before {
    content: "-  ";
}
.lst-kix_dmpnmudtdrvf-4 > li:before {
    content: "-  ";
}
ul.lst-kix_b8sgq9793b8r-8 {
    list-style-type: none;
}
ul.lst-kix_wtvzh6wo6ar8-6 {
    list-style-type: none;
}
ul.lst-kix_wtvzh6wo6ar8-5 {
    list-style-type: none;
}
.lst-kix_dmpnmudtdrvf-0 > li:before {
    content: "-  ";
}
ul.lst-kix_wtvzh6wo6ar8-8 {
    list-style-type: none;
}
ul.lst-kix_wtvzh6wo6ar8-7 {
    list-style-type: none;
}
ul.lst-kix_b8sgq9793b8r-4 {
    list-style-type: none;
}
ul.lst-kix_wtvzh6wo6ar8-2 {
    list-style-type: none;
}
ul.lst-kix_b8sgq9793b8r-5 {
    list-style-type: none;
}
ul.lst-kix_wtvzh6wo6ar8-1 {
    list-style-type: none;
}
ul.lst-kix_b8sgq9793b8r-6 {
    list-style-type: none;
}
ul.lst-kix_wtvzh6wo6ar8-4 {
    list-style-type: none;
}
ul.lst-kix_b8sgq9793b8r-7 {
    list-style-type: none;
}
ul.lst-kix_wtvzh6wo6ar8-3 {
    list-style-type: none;
}
ul.lst-kix_mcai95sckpwg-1 {
    list-style-type: none;
}
ul.lst-kix_wtvzh6wo6ar8-0 {
    list-style-type: none;
}
ul.lst-kix_mcai95sckpwg-0 {
    list-style-type: none;
}
.lst-kix_cuh5xneokz4e-5 > li:before {
    content: "-  ";
}
.lst-kix_efrokonnf13e-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_efrokonnf13e-4 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_b8sgq9793b8r-0 {
    list-style-type: none;
}
ul.lst-kix_b8sgq9793b8r-1 {
    list-style-type: none;
}
ul.lst-kix_b8sgq9793b8r-2 {
    list-style-type: none;
}
ul.lst-kix_b8sgq9793b8r-3 {
    list-style-type: none;
}
.lst-kix_cuh5xneokz4e-7 > li:before {
    content: "-  ";
}
li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt;
}
.lst-kix_efrokonnf13e-6 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_3rnt0so0hmof-7 {
    list-style-type: none;
}
ul.lst-kix_3rnt0so0hmof-6 {
    list-style-type: none;
}
ul.lst-kix_3rnt0so0hmof-5 {
    list-style-type: none;
}
ul.lst-kix_3rnt0so0hmof-4 {
    list-style-type: none;
}
.lst-kix_ip9q3bszi9mj-4 > li:before {
    content: "-  ";
}
.lst-kix_ip9q3bszi9mj-8 > li:before {
    content: "-  ";
}
.lst-kix_cuh5xneokz4e-1 > li:before {
    content: "-  ";
}
ul.lst-kix_3rnt0so0hmof-8 {
    list-style-type: none;
}
.lst-kix_cuh5xneokz4e-3 > li:before {
    content: "-  ";
}
ul.lst-kix_3rnt0so0hmof-3 {
    list-style-type: none;
}
ul.lst-kix_3rnt0so0hmof-2 {
    list-style-type: none;
}
ul.lst-kix_3rnt0so0hmof-1 {
    list-style-type: none;
}
.lst-kix_efrokonnf13e-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_ip9q3bszi9mj-6 > li:before {
    content: "-  ";
}
ul.lst-kix_3rnt0so0hmof-0 {
    list-style-type: none;
}
ol {
    margin: 0;
    padding: 0;
}
table td,
table th {
    padding: 0;
}
.c8 {
    border-right-style: solid;
    padding: 2pt 3pt 2pt 3pt;
    border-bottom-color: #a3a3a3;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #a3a3a3;
    vertical-align: top;
    border-right-color: #a3a3a3;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 79.5pt;
    border-top-color: #a3a3a3;
    border-bottom-style: solid;
}
.c23 {
    border-right-style: solid;
    padding: 2pt 3pt 2pt 3pt;
    border-bottom-color: #a3a3a3;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #a3a3a3;
    vertical-align: top;
    border-right-color: #a3a3a3;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 135.8pt;
    border-top-color: #a3a3a3;
    border-bottom-style: solid;
}
.c28 {
    border-right-style: solid;
    padding: 2pt 3pt 2pt 3pt;
    border-bottom-color: #a3a3a3;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #a3a3a3;
    vertical-align: top;
    border-right-color: #a3a3a3;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 195pt;
    border-top-color: #a3a3a3;
    border-bottom-style: solid;
}
.c32 {
    border-right-style: solid;
    padding: 2pt 3pt 2pt 3pt;
    border-bottom-color: #a3a3a3;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #a3a3a3;
    vertical-align: top;
    border-right-color: #a3a3a3;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 152.6pt;
    border-top-color: #a3a3a3;
    border-bottom-style: solid;
}
.c4 {
    border-right-style: solid;
    padding: 2pt 3pt 2pt 3pt;
    border-bottom-color: #a3a3a3;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #a3a3a3;
    vertical-align: top;
    border-right-color: #a3a3a3;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 110.2pt;
    border-top-color: #a3a3a3;
    border-bottom-style: solid;
}
.c31 {
    border-right-style: solid;
    padding: 2pt 3pt 2pt 3pt;
    border-bottom-color: #a3a3a3;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #a3a3a3;
    vertical-align: top;
    border-right-color: #a3a3a3;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 63.8pt;
    border-top-color: #a3a3a3;
    border-bottom-style: solid;
}
.c30 {
    border-right-style: solid;
    padding: 2pt 3pt 2pt 3pt;
    border-bottom-color: #a3a3a3;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #a3a3a3;
    vertical-align: top;
    border-right-color: #a3a3a3;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 144pt;
    border-top-color: #a3a3a3;
    border-bottom-style: solid;
}
.c34 {
    border-right-style: solid;
    padding: 2pt 3pt 2pt 3pt;
    border-bottom-color: #a3a3a3;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #a3a3a3;
    vertical-align: top;
    border-right-color: #a3a3a3;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 178.7pt;
    border-top-color: #a3a3a3;
    border-bottom-style: solid;
}
.c14 {
    border-right-style: solid;
    padding: 2pt 3pt 2pt 3pt;
    border-bottom-color: #a3a3a3;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #a3a3a3;
    vertical-align: top;
    border-right-color: #a3a3a3;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 180.8pt;
    border-top-color: #a3a3a3;
    border-bottom-style: solid;
}
.c38 {
    border-right-style: solid;
    padding: 2pt 3pt 2pt 3pt;
    border-bottom-color: #a3a3a3;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #a3a3a3;
    vertical-align: top;
    border-right-color: #a3a3a3;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 120pt;
    border-top-color: #a3a3a3;
    border-bottom-style: solid;
}
.c5 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal;
}
.c1 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c17 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c33 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
}
.c19 {
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal;
}
.c40 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial";
    font-style: normal;
}
.c20 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto;
}
.c21 {
    margin-left: -6.8pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto;
}
.c29 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration: underline;
}
.c45 {
    background-color: #ffffff;
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt;
}
.c15 {
    margin-left: 72pt;
    padding-left: 0pt;
}
.c25 {
    margin-left: 108pt;
    padding-left: 0pt;
}
.c16 {
    margin-left: 36pt;
    text-indent: -18pt;
}
.c0 {
    padding: 0;
    margin: 0;
}
.c11 {
    margin-left: 36pt;
    padding-left: 0pt;
}
.c7 {
    font-weight: 700;
}
.c36 {
    text-indent: 36pt;
}
.c10 {
    background-color: #c0c0c0;
}
.c18 {
    margin-left: 18pt;
}
.c6 {
    color: #000000;
}
.c44 {
    margin-left: 72pt;
}
.c39 {
    height: 69.8pt;
}
.c26 {
    height: 16.5pt;
}
.c13 {
    background-color: #d99694;
}
.c37 {
    height: 56.2pt;
}
.c24 {
    height: 29.2pt;
}
.c22 {
    height: 11pt;
}
.c27 {
    margin-left: 36pt;
}
.c9 {
    color: #ff0000;
}
.c35 {
    height: 83.2pt;
}
.c41 {
    height: 137.2pt;
}
.c2 {
    color: #c00000;
}
.c12 {
    font-size: 18pt;
}
.c3 {
    font-style: italic;
}
.c43 {
    height: 123pt;
}
.c42 {
    font-size: 22pt;
}
.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial";
}
p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial";
}
h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
}
