ul.lst-kix_d55drbysd1ur-0 {
    list-style-type: none;
}
ul.lst-kix_d55drbysd1ur-1 {
    list-style-type: none;
}
ul.lst-kix_d55drbysd1ur-2 {
    list-style-type: none;
}
ul.lst-kix_d55drbysd1ur-3 {
    list-style-type: none;
}
ul.lst-kix_d55drbysd1ur-4 {
    list-style-type: none;
}
ul.lst-kix_d55drbysd1ur-5 {
    list-style-type: none;
}
ul.lst-kix_d55drbysd1ur-6 {
    list-style-type: none;
}
ul.lst-kix_d55drbysd1ur-7 {
    list-style-type: none;
}
ul.lst-kix_d55drbysd1ur-8 {
    list-style-type: none;
}
ul.lst-kix_v5qj1lkg0o78-1 {
    list-style-type: none;
}
ul.lst-kix_v5qj1lkg0o78-0 {
    list-style-type: none;
}
ul.lst-kix_v5qj1lkg0o78-5 {
    list-style-type: none;
}
ul.lst-kix_v5qj1lkg0o78-4 {
    list-style-type: none;
}
ul.lst-kix_v5qj1lkg0o78-3 {
    list-style-type: none;
}
ul.lst-kix_v5qj1lkg0o78-2 {
    list-style-type: none;
}
ul.lst-kix_v5qj1lkg0o78-8 {
    list-style-type: none;
}
ul.lst-kix_v5qj1lkg0o78-7 {
    list-style-type: none;
}
ul.lst-kix_v5qj1lkg0o78-6 {
    list-style-type: none;
}
ul.lst-kix_18e2jafjrkp-3 {
    list-style-type: none;
}
ul.lst-kix_18e2jafjrkp-4 {
    list-style-type: none;
}
ul.lst-kix_18e2jafjrkp-1 {
    list-style-type: none;
}
ul.lst-kix_18e2jafjrkp-2 {
    list-style-type: none;
}
ul.lst-kix_18e2jafjrkp-7 {
    list-style-type: none;
}
.lst-kix_fl2a379fbywi-1 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_18e2jafjrkp-8 {
    list-style-type: none;
}
ul.lst-kix_18e2jafjrkp-5 {
    list-style-type: none;
}
ul.lst-kix_18e2jafjrkp-6 {
    list-style-type: none;
}
.lst-kix_fl2a379fbywi-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_fl2a379fbywi-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_fl2a379fbywi-4 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_18e2jafjrkp-0 {
    list-style-type: none;
}
.lst-kix_fl2a379fbywi-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_fl2a379fbywi-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_fl2a379fbywi-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_fl2a379fbywi-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_re1p866y94d-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_re1p866y94d-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_re1p866y94d-2 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_kse4avlc98tf-0 {
    list-style-type: none;
}
ul.lst-kix_kse4avlc98tf-1 {
    list-style-type: none;
}
ul.lst-kix_kse4avlc98tf-2 {
    list-style-type: none;
}
ul.lst-kix_kse4avlc98tf-3 {
    list-style-type: none;
}
ul.lst-kix_kse4avlc98tf-4 {
    list-style-type: none;
}
ul.lst-kix_kse4avlc98tf-5 {
    list-style-type: none;
}
ul.lst-kix_kse4avlc98tf-6 {
    list-style-type: none;
}
ul.lst-kix_kse4avlc98tf-7 {
    list-style-type: none;
}
ul.lst-kix_kse4avlc98tf-8 {
    list-style-type: none;
}
.lst-kix_kse4avlc98tf-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_18e2jafjrkp-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_18e2jafjrkp-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_p1w26ylnf5bi-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_gie8te7xgy40-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_kse4avlc98tf-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_p1w26ylnf5bi-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_d30hcrz3f4ny-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_gie8te7xgy40-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_gie8te7xgy40-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_d30hcrz3f4ny-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_c6jmfb9usv4i-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_d30hcrz3f4ny-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_f5y3xuhcjfa4-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_gie8te7xgy40-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_18e2jafjrkp-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_18e2jafjrkp-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_c6jmfb9usv4i-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_p1w26ylnf5bi-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_re1p866y94d-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_f5y3xuhcjfa4-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_f5y3xuhcjfa4-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_d30hcrz3f4ny-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_f5y3xuhcjfa4-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_re1p866y94d-6 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_fv967qqx7a8s-6 {
    list-style-type: none;
}
ul.lst-kix_fv967qqx7a8s-7 {
    list-style-type: none;
}
ul.lst-kix_fv967qqx7a8s-8 {
    list-style-type: none;
}
.lst-kix_p1w26ylnf5bi-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_re1p866y94d-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_f5y3xuhcjfa4-8 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_fv967qqx7a8s-0 {
    list-style-type: none;
}
ul.lst-kix_fv967qqx7a8s-1 {
    list-style-type: none;
}
ul.lst-kix_fv967qqx7a8s-2 {
    list-style-type: none;
}
ul.lst-kix_fv967qqx7a8s-3 {
    list-style-type: none;
}
ul.lst-kix_fv967qqx7a8s-4 {
    list-style-type: none;
}
ul.lst-kix_fv967qqx7a8s-5 {
    list-style-type: none;
}
.lst-kix_p1w26ylnf5bi-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_k8wq2gcz06dg-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_k8wq2gcz06dg-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_k8wq2gcz06dg-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_k8wq2gcz06dg-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_y5xmmq7lgm7-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_y5xmmq7lgm7-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_y5xmmq7lgm7-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_swkadaoft0zx-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_swkadaoft0zx-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_swkadaoft0zx-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_swkadaoft0zx-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_y5xmmq7lgm7-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_24efh92ybhkz-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_24efh92ybhkz-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_d30hcrz3f4ny-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_24efh92ybhkz-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_24efh92ybhkz-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_uy70agh3qwks-5 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_gie8te7xgy40-8 {
    list-style-type: none;
}
ul.lst-kix_gie8te7xgy40-7 {
    list-style-type: none;
}
ul.lst-kix_gie8te7xgy40-6 {
    list-style-type: none;
}
ul.lst-kix_gie8te7xgy40-5 {
    list-style-type: none;
}
ul.lst-kix_gie8te7xgy40-4 {
    list-style-type: none;
}
ul.lst-kix_gie8te7xgy40-3 {
    list-style-type: none;
}
ul.lst-kix_gie8te7xgy40-2 {
    list-style-type: none;
}
ul.lst-kix_gie8te7xgy40-1 {
    list-style-type: none;
}
ul.lst-kix_gie8te7xgy40-0 {
    list-style-type: none;
}
.lst-kix_ern6rlqwrbfl-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_uy70agh3qwks-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_ern6rlqwrbfl-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_90wz084m8ffb-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_90wz084m8ffb-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_uy70agh3qwks-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_uy70agh3qwks-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_uy70agh3qwks-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_90wz084m8ffb-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_90wz084m8ffb-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_90wz084m8ffb-5 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_90wz084m8ffb-2 {
    list-style-type: none;
}
ul.lst-kix_90wz084m8ffb-3 {
    list-style-type: none;
}
.lst-kix_c6jmfb9usv4i-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_c6jmfb9usv4i-5 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_90wz084m8ffb-0 {
    list-style-type: none;
}
ul.lst-kix_90wz084m8ffb-1 {
    list-style-type: none;
}
ul.lst-kix_90wz084m8ffb-6 {
    list-style-type: none;
}
ul.lst-kix_90wz084m8ffb-7 {
    list-style-type: none;
}
ul.lst-kix_90wz084m8ffb-4 {
    list-style-type: none;
}
ul.lst-kix_90wz084m8ffb-5 {
    list-style-type: none;
}
.lst-kix_c6jmfb9usv4i-2 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_90wz084m8ffb-8 {
    list-style-type: none;
}
.lst-kix_kse4avlc98tf-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_kse4avlc98tf-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_v5qj1lkg0o78-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_kse4avlc98tf-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_p1w26ylnf5bi-7 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_d30hcrz3f4ny-0 {
    list-style-type: none;
}
ul.lst-kix_d30hcrz3f4ny-2 {
    list-style-type: none;
}
ul.lst-kix_d30hcrz3f4ny-1 {
    list-style-type: none;
}
.lst-kix_kse4avlc98tf-4 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_d30hcrz3f4ny-4 {
    list-style-type: none;
}
ul.lst-kix_d30hcrz3f4ny-3 {
    list-style-type: none;
}
.lst-kix_p1w26ylnf5bi-3 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_d30hcrz3f4ny-6 {
    list-style-type: none;
}
.lst-kix_gie8te7xgy40-0 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_d30hcrz3f4ny-5 {
    list-style-type: none;
}
.lst-kix_fv967qqx7a8s-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_d30hcrz3f4ny-7 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_d30hcrz3f4ny-8 {
    list-style-type: none;
}
.lst-kix_18e2jafjrkp-6 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_d30hcrz3f4ny-7 {
    list-style-type: none;
}
.lst-kix_v5qj1lkg0o78-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_em60lqf9wfqn-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_d55drbysd1ur-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_f5y3xuhcjfa4-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_gie8te7xgy40-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_fv967qqx7a8s-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_d30hcrz3f4ny-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_18e2jafjrkp-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_re1p866y94d-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_d55drbysd1ur-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_uce1gthm006k-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_f5y3xuhcjfa4-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_gie8te7xgy40-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_swkadaoft0zx-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_v5qj1lkg0o78-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_k8wq2gcz06dg-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_k8wq2gcz06dg-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_fl2a379fbywi-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_y5xmmq7lgm7-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_swkadaoft0zx-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_k64otq2bjapm-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_em60lqf9wfqn-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_em60lqf9wfqn-4 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_ern6rlqwrbfl-5 {
    list-style-type: none;
}
.lst-kix_k64otq2bjapm-3 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_ern6rlqwrbfl-4 {
    list-style-type: none;
}
ul.lst-kix_ern6rlqwrbfl-3 {
    list-style-type: none;
}
ul.lst-kix_ern6rlqwrbfl-2 {
    list-style-type: none;
}
ul.lst-kix_ern6rlqwrbfl-1 {
    list-style-type: none;
}
.lst-kix_24efh92ybhkz-2 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_ern6rlqwrbfl-0 {
    list-style-type: none;
}
.lst-kix_swkadaoft0zx-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_y5xmmq7lgm7-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_ern6rlqwrbfl-4 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_k64otq2bjapm-6 {
    list-style-type: none;
}
ul.lst-kix_k64otq2bjapm-7 {
    list-style-type: none;
}
ul.lst-kix_c6jmfb9usv4i-7 {
    list-style-type: none;
}
ul.lst-kix_k64otq2bjapm-8 {
    list-style-type: none;
}
ul.lst-kix_c6jmfb9usv4i-8 {
    list-style-type: none;
}
ul.lst-kix_c6jmfb9usv4i-5 {
    list-style-type: none;
}
ul.lst-kix_k64otq2bjapm-2 {
    list-style-type: none;
}
ul.lst-kix_c6jmfb9usv4i-6 {
    list-style-type: none;
}
ul.lst-kix_k64otq2bjapm-3 {
    list-style-type: none;
}
ul.lst-kix_ern6rlqwrbfl-8 {
    list-style-type: none;
}
ul.lst-kix_c6jmfb9usv4i-3 {
    list-style-type: none;
}
ul.lst-kix_k64otq2bjapm-4 {
    list-style-type: none;
}
ul.lst-kix_ern6rlqwrbfl-7 {
    list-style-type: none;
}
ul.lst-kix_c6jmfb9usv4i-4 {
    list-style-type: none;
}
ul.lst-kix_k64otq2bjapm-5 {
    list-style-type: none;
}
ul.lst-kix_ern6rlqwrbfl-6 {
    list-style-type: none;
}
ul.lst-kix_c6jmfb9usv4i-1 {
    list-style-type: none;
}
ul.lst-kix_c6jmfb9usv4i-2 {
    list-style-type: none;
}
ul.lst-kix_k64otq2bjapm-0 {
    list-style-type: none;
}
ul.lst-kix_c6jmfb9usv4i-0 {
    list-style-type: none;
}
ul.lst-kix_k64otq2bjapm-1 {
    list-style-type: none;
}
.lst-kix_24efh92ybhkz-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_ern6rlqwrbfl-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_hjypc3g7ydlk-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_hjypc3g7ydlk-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_hjypc3g7ydlk-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_hjypc3g7ydlk-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_hjypc3g7ydlk-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_hjypc3g7ydlk-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_hjypc3g7ydlk-0 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_24efh92ybhkz-0 {
    list-style-type: none;
}
ul.lst-kix_24efh92ybhkz-3 {
    list-style-type: none;
}
ul.lst-kix_24efh92ybhkz-4 {
    list-style-type: none;
}
ul.lst-kix_24efh92ybhkz-1 {
    list-style-type: none;
}
ul.lst-kix_24efh92ybhkz-2 {
    list-style-type: none;
}
ul.lst-kix_24efh92ybhkz-7 {
    list-style-type: none;
}
ul.lst-kix_24efh92ybhkz-8 {
    list-style-type: none;
}
ul.lst-kix_24efh92ybhkz-5 {
    list-style-type: none;
}
ul.lst-kix_24efh92ybhkz-6 {
    list-style-type: none;
}
ul.lst-kix_k8wq2gcz06dg-6 {
    list-style-type: none;
}
ul.lst-kix_hjypc3g7ydlk-5 {
    list-style-type: none;
}
ul.lst-kix_k8wq2gcz06dg-5 {
    list-style-type: none;
}
ul.lst-kix_hjypc3g7ydlk-4 {
    list-style-type: none;
}
ul.lst-kix_k8wq2gcz06dg-8 {
    list-style-type: none;
}
ul.lst-kix_hjypc3g7ydlk-3 {
    list-style-type: none;
}
ul.lst-kix_k8wq2gcz06dg-7 {
    list-style-type: none;
}
ul.lst-kix_hjypc3g7ydlk-2 {
    list-style-type: none;
}
ul.lst-kix_hjypc3g7ydlk-1 {
    list-style-type: none;
}
ul.lst-kix_hjypc3g7ydlk-0 {
    list-style-type: none;
}
ul.lst-kix_hjypc3g7ydlk-8 {
    list-style-type: none;
}
ul.lst-kix_hjypc3g7ydlk-7 {
    list-style-type: none;
}
ul.lst-kix_hjypc3g7ydlk-6 {
    list-style-type: none;
}
.lst-kix_uce1gthm006k-8 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_p1w26ylnf5bi-1 {
    list-style-type: none;
}
ul.lst-kix_p1w26ylnf5bi-0 {
    list-style-type: none;
}
.lst-kix_uce1gthm006k-6 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_p1w26ylnf5bi-7 {
    list-style-type: none;
}
ul.lst-kix_p1w26ylnf5bi-6 {
    list-style-type: none;
}
ul.lst-kix_p1w26ylnf5bi-8 {
    list-style-type: none;
}
ul.lst-kix_p1w26ylnf5bi-3 {
    list-style-type: none;
}
.lst-kix_uce1gthm006k-7 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_p1w26ylnf5bi-2 {
    list-style-type: none;
}
ul.lst-kix_p1w26ylnf5bi-5 {
    list-style-type: none;
}
ul.lst-kix_p1w26ylnf5bi-4 {
    list-style-type: none;
}
ul.lst-kix_k8wq2gcz06dg-0 {
    list-style-type: none;
}
ul.lst-kix_k8wq2gcz06dg-2 {
    list-style-type: none;
}
ul.lst-kix_k8wq2gcz06dg-1 {
    list-style-type: none;
}
ul.lst-kix_k8wq2gcz06dg-4 {
    list-style-type: none;
}
ul.lst-kix_k8wq2gcz06dg-3 {
    list-style-type: none;
}
.lst-kix_fv967qqx7a8s-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_v5qj1lkg0o78-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_fv967qqx7a8s-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_fv967qqx7a8s-2 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_swkadaoft0zx-6 {
    list-style-type: none;
}
.lst-kix_fv967qqx7a8s-8 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_swkadaoft0zx-5 {
    list-style-type: none;
}
ul.lst-kix_swkadaoft0zx-8 {
    list-style-type: none;
}
ul.lst-kix_swkadaoft0zx-7 {
    list-style-type: none;
}
ul.lst-kix_swkadaoft0zx-2 {
    list-style-type: none;
}
ul.lst-kix_swkadaoft0zx-1 {
    list-style-type: none;
}
ul.lst-kix_swkadaoft0zx-4 {
    list-style-type: none;
}
ul.lst-kix_swkadaoft0zx-3 {
    list-style-type: none;
}
.lst-kix_em60lqf9wfqn-7 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_swkadaoft0zx-0 {
    list-style-type: none;
}
.lst-kix_fv967qqx7a8s-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_d55drbysd1ur-1 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_fl2a379fbywi-1 {
    list-style-type: none;
}
ul.lst-kix_fl2a379fbywi-0 {
    list-style-type: none;
}
.lst-kix_uce1gthm006k-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_d55drbysd1ur-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_d55drbysd1ur-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_uce1gthm006k-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_uce1gthm006k-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_d55drbysd1ur-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_v5qj1lkg0o78-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_v5qj1lkg0o78-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_v5qj1lkg0o78-5 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_fl2a379fbywi-8 {
    list-style-type: none;
}
ul.lst-kix_fl2a379fbywi-7 {
    list-style-type: none;
}
ul.lst-kix_fl2a379fbywi-6 {
    list-style-type: none;
}
ul.lst-kix_fl2a379fbywi-5 {
    list-style-type: none;
}
ul.lst-kix_fl2a379fbywi-4 {
    list-style-type: none;
}
ul.lst-kix_fl2a379fbywi-3 {
    list-style-type: none;
}
ul.lst-kix_fl2a379fbywi-2 {
    list-style-type: none;
}
.lst-kix_k64otq2bjapm-8 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_y5xmmq7lgm7-2 {
    list-style-type: none;
}
.lst-kix_em60lqf9wfqn-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_k64otq2bjapm-6 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_y5xmmq7lgm7-3 {
    list-style-type: none;
}
ul.lst-kix_y5xmmq7lgm7-4 {
    list-style-type: none;
}
ul.lst-kix_y5xmmq7lgm7-5 {
    list-style-type: none;
}
ul.lst-kix_y5xmmq7lgm7-6 {
    list-style-type: none;
}
.lst-kix_em60lqf9wfqn-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_em60lqf9wfqn-5 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_y5xmmq7lgm7-7 {
    list-style-type: none;
}
ul.lst-kix_y5xmmq7lgm7-8 {
    list-style-type: none;
}
.lst-kix_k64otq2bjapm-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_k64otq2bjapm-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_ern6rlqwrbfl-3 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_em60lqf9wfqn-2 {
    list-style-type: none;
}
ul.lst-kix_em60lqf9wfqn-1 {
    list-style-type: none;
}
ul.lst-kix_em60lqf9wfqn-0 {
    list-style-type: none;
}
ul.lst-kix_em60lqf9wfqn-6 {
    list-style-type: none;
}
ul.lst-kix_em60lqf9wfqn-5 {
    list-style-type: none;
}
ul.lst-kix_em60lqf9wfqn-4 {
    list-style-type: none;
}
.lst-kix_hjypc3g7ydlk-7 > li:before {
    content: "\0025cb  ";
}
ul.lst-kix_em60lqf9wfqn-3 {
    list-style-type: none;
}
.lst-kix_ern6rlqwrbfl-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_k64otq2bjapm-0 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_y5xmmq7lgm7-0 {
    list-style-type: none;
}
ul.lst-kix_em60lqf9wfqn-8 {
    list-style-type: none;
}
ul.lst-kix_y5xmmq7lgm7-1 {
    list-style-type: none;
}
ul.lst-kix_em60lqf9wfqn-7 {
    list-style-type: none;
}
ul.lst-kix_f5y3xuhcjfa4-0 {
    list-style-type: none;
}
ul.lst-kix_re1p866y94d-2 {
    list-style-type: none;
}
ul.lst-kix_re1p866y94d-1 {
    list-style-type: none;
}
ul.lst-kix_re1p866y94d-0 {
    list-style-type: none;
}
.lst-kix_ern6rlqwrbfl-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_uy70agh3qwks-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_uy70agh3qwks-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_ern6rlqwrbfl-6 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_f5y3xuhcjfa4-1 {
    list-style-type: none;
}
ul.lst-kix_f5y3xuhcjfa4-2 {
    list-style-type: none;
}
ul.lst-kix_f5y3xuhcjfa4-3 {
    list-style-type: none;
}
ul.lst-kix_f5y3xuhcjfa4-4 {
    list-style-type: none;
}
ul.lst-kix_f5y3xuhcjfa4-5 {
    list-style-type: none;
}
ul.lst-kix_f5y3xuhcjfa4-6 {
    list-style-type: none;
}
ul.lst-kix_f5y3xuhcjfa4-7 {
    list-style-type: none;
}
ul.lst-kix_f5y3xuhcjfa4-8 {
    list-style-type: none;
}
.lst-kix_90wz084m8ffb-3 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_re1p866y94d-8 {
    list-style-type: none;
}
ul.lst-kix_re1p866y94d-7 {
    list-style-type: none;
}
ul.lst-kix_re1p866y94d-6 {
    list-style-type: none;
}
ul.lst-kix_re1p866y94d-5 {
    list-style-type: none;
}
.lst-kix_90wz084m8ffb-2 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_re1p866y94d-4 {
    list-style-type: none;
}
ul.lst-kix_re1p866y94d-3 {
    list-style-type: none;
}
.lst-kix_uy70agh3qwks-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_uy70agh3qwks-2 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_uy70agh3qwks-4 {
    list-style-type: none;
}
ul.lst-kix_uy70agh3qwks-3 {
    list-style-type: none;
}
ul.lst-kix_uy70agh3qwks-2 {
    list-style-type: none;
}
ul.lst-kix_uy70agh3qwks-1 {
    list-style-type: none;
}
ul.lst-kix_uy70agh3qwks-0 {
    list-style-type: none;
}
.lst-kix_90wz084m8ffb-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_90wz084m8ffb-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_c6jmfb9usv4i-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_c6jmfb9usv4i-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_c6jmfb9usv4i-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_kse4avlc98tf-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_kse4avlc98tf-2 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_uy70agh3qwks-8 {
    list-style-type: none;
}
ul.lst-kix_uy70agh3qwks-7 {
    list-style-type: none;
}
ul.lst-kix_uy70agh3qwks-6 {
    list-style-type: none;
}
ul.lst-kix_uy70agh3qwks-5 {
    list-style-type: none;
}
.lst-kix_fv967qqx7a8s-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_kse4avlc98tf-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_18e2jafjrkp-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_18e2jafjrkp-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_gie8te7xgy40-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_p1w26ylnf5bi-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_gie8te7xgy40-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_d55drbysd1ur-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_d30hcrz3f4ny-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_18e2jafjrkp-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_fv967qqx7a8s-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_c6jmfb9usv4i-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_em60lqf9wfqn-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_f5y3xuhcjfa4-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_uce1gthm006k-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_re1p866y94d-3 > li:before {
    content: "\0025cf  ";
}
.lst-kix_d55drbysd1ur-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_d30hcrz3f4ny-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_f5y3xuhcjfa4-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_uce1gthm006k-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_re1p866y94d-7 > li:before {
    content: "\0025cb  ";
}
.lst-kix_d55drbysd1ur-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_v5qj1lkg0o78-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_p1w26ylnf5bi-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_v5qj1lkg0o78-6 > li:before {
    content: "\0025cf  ";
}
.lst-kix_k8wq2gcz06dg-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_k8wq2gcz06dg-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_k8wq2gcz06dg-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_24efh92ybhkz-8 > li:before {
    content: "\0025a0  ";
}
ul.lst-kix_uce1gthm006k-8 {
    list-style-type: none;
}
.lst-kix_y5xmmq7lgm7-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_y5xmmq7lgm7-8 > li:before {
    content: "\0025a0  ";
}
.lst-kix_swkadaoft0zx-6 > li:before {
    content: "\0025cf  ";
}
ul.lst-kix_uce1gthm006k-4 {
    list-style-type: none;
}
ul.lst-kix_uce1gthm006k-5 {
    list-style-type: none;
}
ul.lst-kix_uce1gthm006k-6 {
    list-style-type: none;
}
ul.lst-kix_uce1gthm006k-7 {
    list-style-type: none;
}
ul.lst-kix_uce1gthm006k-0 {
    list-style-type: none;
}
ul.lst-kix_uce1gthm006k-1 {
    list-style-type: none;
}
ul.lst-kix_uce1gthm006k-2 {
    list-style-type: none;
}
ul.lst-kix_uce1gthm006k-3 {
    list-style-type: none;
}
.lst-kix_k64otq2bjapm-5 > li:before {
    content: "\0025a0  ";
}
.lst-kix_y5xmmq7lgm7-0 > li:before {
    content: "\0025cf  ";
}
.lst-kix_swkadaoft0zx-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_24efh92ybhkz-0 > li:before {
    content: "\0025cf  ";
}
li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt;
}
.lst-kix_em60lqf9wfqn-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_24efh92ybhkz-4 > li:before {
    content: "\0025cb  ";
}
.lst-kix_k64otq2bjapm-1 > li:before {
    content: "\0025cb  ";
}
.lst-kix_ern6rlqwrbfl-2 > li:before {
    content: "\0025a0  ";
}
.lst-kix_hjypc3g7ydlk-8 > li:before {
    content: "\0025a0  ";
}
ol {
    margin: 0;
    padding: 0;
}
table td,
table th {
    padding: 0;
}
.c1 {
    margin-left: 108pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c17 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 20pt;
    font-family: "Arial";
    font-style: normal;
}
.c15 {
    padding-top: 20pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c5 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal;
}
.c2 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal;
}
.c14 {
    padding-top: 0pt;
    padding-bottom: 16pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c12 {
    padding-top: 0pt;
    padding-bottom: 3pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c19 {
    color: #666666;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 15pt;
    font-family: "Arial";
    font-style: normal;
}
.c13 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 26pt;
    font-family: "Arial";
    font-style: normal;
}
.c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c10 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center;
}
.c16 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline;
}
.c7 {
    background-color: #ffffff;
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt;
}
.c0 {
    padding: 0;
    margin: 0;
}
.c11 {
    margin-left: 144pt;
    padding-left: 0pt;
}
.c6 {
    margin-left: 36pt;
    padding-left: 0pt;
}
.c18 {
    color: inherit;
    text-decoration: inherit;
}
.c4 {
    margin-left: 72pt;
    padding-left: 0pt;
}
.c9 {
    font-weight: 700;
}
.c8 {
    height: 11pt;
}
.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial";
}
p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial";
}
h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
}
