            .lst-kix_arjja9wcznbj-1 > li {
                counter-increment: lst-ctn-kix_arjja9wcznbj-1;
            }
            .lst-kix_mfud1r67izxm-0 > li:before {
                content: "-  ";
            }
            .lst-kix_mfud1r67izxm-1 > li:before {
                content: "-  ";
            }
            .lst-kix_mfud1r67izxm-2 > li:before {
                content: "-  ";
            }
            .lst-kix_mfud1r67izxm-3 > li:before {
                content: "-  ";
            }
            .lst-kix_26gspg8lwzpj-7 > li:before {
                content: "\0025cb  ";
            }
            .lst-kix_qk5437db2opm-0 > li:before {
                content: "\0025cf  ";
            }
            .lst-kix_mfud1r67izxm-5 > li:before {
                content: "-  ";
            }
            .lst-kix_mfud1r67izxm-6 > li:before {
                content: "-  ";
            }
            ul.lst-kix_mobbfsdqx47q-0 {
                list-style-type: none;
            }
            ul.lst-kix_mobbfsdqx47q-1 {
                list-style-type: none;
            }
            ul.lst-kix_mobbfsdqx47q-2 {
                list-style-type: none;
            }
            ul.lst-kix_fdfc1j4sxxnw-0 {
                list-style-type: none;
            }
            .lst-kix_mfud1r67izxm-4 > li:before {
                content: "-  ";
            }
            .lst-kix_26gspg8lwzpj-8 > li:before {
                content: "\0025a0  ";
            }
            ul.lst-kix_mobbfsdqx47q-3 {
                list-style-type: none;
            }
            ul.lst-kix_fdfc1j4sxxnw-1 {
                list-style-type: none;
            }
            .lst-kix_mfud1r67izxm-8 > li:before {
                content: "-  ";
            }
            ul.lst-kix_mobbfsdqx47q-4 {
                list-style-type: none;
            }
            ul.lst-kix_fdfc1j4sxxnw-2 {
                list-style-type: none;
            }
            ul.lst-kix_mobbfsdqx47q-5 {
                list-style-type: none;
            }
            ul.lst-kix_fdfc1j4sxxnw-3 {
                list-style-type: none;
            }
            .lst-kix_qk5437db2opm-3 > li:before {
                content: "\0025cf  ";
            }
            ul.lst-kix_mobbfsdqx47q-6 {
                list-style-type: none;
            }
            ul.lst-kix_fdfc1j4sxxnw-4 {
                list-style-type: none;
            }
            ul.lst-kix_mobbfsdqx47q-7 {
                list-style-type: none;
            }
            ul.lst-kix_mobbfsdqx47q-8 {
                list-style-type: none;
            }
            .lst-kix_qk5437db2opm-2 > li:before {
                content: "\0025a0  ";
            }
            .lst-kix_mfud1r67izxm-7 > li:before {
                content: "-  ";
            }
            .lst-kix_qk5437db2opm-1 > li:before {
                content: "\0025cb  ";
            }
            ol.lst-kix_arjja9wcznbj-8 {
                list-style-type: none;
            }
            ol.lst-kix_arjja9wcznbj-6 {
                list-style-type: none;
            }
            .lst-kix_26gspg8lwzpj-0 > li:before {
                content: "\0025cf  ";
            }
            .lst-kix_qk5437db2opm-6 > li:before {
                content: "\0025cf  ";
            }
            .lst-kix_qk5437db2opm-8 > li:before {
                content: "\0025a0  ";
            }
            ol.lst-kix_arjja9wcznbj-7 {
                list-style-type: none;
            }
            .lst-kix_26gspg8lwzpj-1 > li:before {
                content: "\0025cb  ";
            }
            .lst-kix_qk5437db2opm-7 > li:before {
                content: "\0025cb  ";
            }
            ol.lst-kix_arjja9wcznbj-7.start {
                counter-reset: lst-ctn-kix_arjja9wcznbj-7 0;
            }
            .lst-kix_qk5437db2opm-4 > li:before {
                content: "\0025cb  ";
            }
            .lst-kix_qk5437db2opm-5 > li:before {
                content: "\0025a0  ";
            }
            .lst-kix_26gspg8lwzpj-6 > li:before {
                content: "\0025cf  ";
            }
            .lst-kix_26gspg8lwzpj-4 > li:before {
                content: "\0025a0  ";
            }
            .lst-kix_26gspg8lwzpj-5 > li:before {
                content: "\0025a0  ";
            }
            ol.lst-kix_arjja9wcznbj-0 {
                list-style-type: none;
            }
            ol.lst-kix_arjja9wcznbj-1 {
                list-style-type: none;
            }
            ol.lst-kix_arjja9wcznbj-4.start {
                counter-reset: lst-ctn-kix_arjja9wcznbj-4 0;
            }
            .lst-kix_26gspg8lwzpj-2 > li:before {
                content: "\0025a0  ";
            }
            ol.lst-kix_arjja9wcznbj-4 {
                list-style-type: none;
            }
            ol.lst-kix_arjja9wcznbj-5 {
                list-style-type: none;
            }
            .lst-kix_26gspg8lwzpj-3 > li:before {
                content: "\0025a0  ";
            }
            ol.lst-kix_arjja9wcznbj-2 {
                list-style-type: none;
            }
            .lst-kix_arjja9wcznbj-2 > li {
                counter-increment: lst-ctn-kix_arjja9wcznbj-2;
            }
            ol.lst-kix_arjja9wcznbj-3 {
                list-style-type: none;
            }
            ul.lst-kix_yh5ju3w0sizu-5 {
                list-style-type: none;
            }
            ul.lst-kix_yh5ju3w0sizu-6 {
                list-style-type: none;
            }
            .lst-kix_arjja9wcznbj-6 > li:before {
                content: "" counter(lst-ctn-kix_arjja9wcznbj-6, decimal) ". ";
            }
            .lst-kix_arjja9wcznbj-7 > li:before {
                content: "" counter(lst-ctn-kix_arjja9wcznbj-7, lower-latin)
                    ". ";
            }
            ul.lst-kix_yh5ju3w0sizu-7 {
                list-style-type: none;
            }
            ul.lst-kix_yh5ju3w0sizu-8 {
                list-style-type: none;
            }
            .lst-kix_arjja9wcznbj-4 > li:before {
                content: "" counter(lst-ctn-kix_arjja9wcznbj-4, lower-latin)
                    ". ";
            }
            .lst-kix_arjja9wcznbj-5 > li:before {
                content: "" counter(lst-ctn-kix_arjja9wcznbj-5, lower-roman)
                    ". ";
            }
            .lst-kix_arjja9wcznbj-8 > li:before {
                content: "" counter(lst-ctn-kix_arjja9wcznbj-8, lower-roman)
                    ". ";
            }
            .lst-kix_arjja9wcznbj-4 > li {
                counter-increment: lst-ctn-kix_arjja9wcznbj-4;
            }
            ul.lst-kix_7qnwni40hl0l-1 {
                list-style-type: none;
            }
            .lst-kix_7qnwni40hl0l-2 > li:before {
                content: "\0025a0  ";
            }
            ul.lst-kix_7qnwni40hl0l-2 {
                list-style-type: none;
            }
            .lst-kix_7qnwni40hl0l-1 > li:before {
                content: "\0025cb  ";
            }
            .lst-kix_7qnwni40hl0l-3 > li:before {
                content: "\0025a0  ";
            }
            ul.lst-kix_7qnwni40hl0l-0 {
                list-style-type: none;
            }
            ul.lst-kix_7qnwni40hl0l-5 {
                list-style-type: none;
            }
            ul.lst-kix_7qnwni40hl0l-6 {
                list-style-type: none;
            }
            ul.lst-kix_7qnwni40hl0l-3 {
                list-style-type: none;
            }
            ul.lst-kix_7qnwni40hl0l-4 {
                list-style-type: none;
            }
            ul.lst-kix_yh5ju3w0sizu-0 {
                list-style-type: none;
            }
            ul.lst-kix_yh5ju3w0sizu-1 {
                list-style-type: none;
            }
            .lst-kix_7qnwni40hl0l-0 > li:before {
                content: "\0025cf  ";
            }
            ol.lst-kix_arjja9wcznbj-0.start {
                counter-reset: lst-ctn-kix_arjja9wcznbj-0 0;
            }
            ul.lst-kix_yh5ju3w0sizu-2 {
                list-style-type: none;
            }
            ul.lst-kix_yh5ju3w0sizu-3 {
                list-style-type: none;
            }
            ul.lst-kix_yh5ju3w0sizu-4 {
                list-style-type: none;
            }
            ol.lst-kix_arjja9wcznbj-5.start {
                counter-reset: lst-ctn-kix_arjja9wcznbj-5 0;
            }
            .lst-kix_7qnwni40hl0l-5 > li:before {
                content: "\0025a0  ";
            }
            .lst-kix_7qnwni40hl0l-4 > li:before {
                content: "\0025a0  ";
            }
            .lst-kix_arjja9wcznbj-0 > li:before {
                content: "" counter(lst-ctn-kix_arjja9wcznbj-0, decimal) ". ";
            }
            .lst-kix_arjja9wcznbj-1 > li:before {
                content: "" counter(lst-ctn-kix_arjja9wcznbj-1, lower-latin)
                    ". ";
            }
            .lst-kix_7qnwni40hl0l-6 > li:before {
                content: "\0025cf  ";
            }
            .lst-kix_arjja9wcznbj-3 > li:before {
                content: "" counter(lst-ctn-kix_arjja9wcznbj-3, decimal) ". ";
            }
            .lst-kix_7qnwni40hl0l-7 > li:before {
                content: "\0025cb  ";
            }
            .lst-kix_arjja9wcznbj-2 > li:before {
                content: "" counter(lst-ctn-kix_arjja9wcznbj-2, lower-roman)
                    ". ";
            }
            .lst-kix_7qnwni40hl0l-8 > li:before {
                content: "\0025a0  ";
            }
            ul.lst-kix_qk5437db2opm-2 {
                list-style-type: none;
            }
            .lst-kix_arjja9wcznbj-7 > li {
                counter-increment: lst-ctn-kix_arjja9wcznbj-7;
            }
            ul.lst-kix_qk5437db2opm-3 {
                list-style-type: none;
            }
            .lst-kix_fdfc1j4sxxnw-3 > li:before {
                content: "-  ";
            }
            .lst-kix_fdfc1j4sxxnw-4 > li:before {
                content: "-  ";
            }
            ul.lst-kix_qk5437db2opm-0 {
                list-style-type: none;
            }
            ul.lst-kix_qk5437db2opm-1 {
                list-style-type: none;
            }
            ol.lst-kix_arjja9wcznbj-6.start {
                counter-reset: lst-ctn-kix_arjja9wcznbj-6 0;
            }
            .lst-kix_fdfc1j4sxxnw-1 > li:before {
                content: "-  ";
            }
            .lst-kix_fdfc1j4sxxnw-2 > li:before {
                content: "-  ";
            }
            .lst-kix_fdfc1j4sxxnw-5 > li:before {
                content: "-  ";
            }
            .lst-kix_fdfc1j4sxxnw-6 > li:before {
                content: "-  ";
            }
            .lst-kix_mobbfsdqx47q-0 > li:before {
                content: "-  ";
            }
            .lst-kix_fdfc1j4sxxnw-0 > li:before {
                content: "-  ";
            }
            .lst-kix_fdfc1j4sxxnw-7 > li:before {
                content: "-  ";
            }
            .lst-kix_fdfc1j4sxxnw-8 > li:before {
                content: "-  ";
            }
            ul.lst-kix_qk5437db2opm-8 {
                list-style-type: none;
            }
            ul.lst-kix_qk5437db2opm-6 {
                list-style-type: none;
            }
            ul.lst-kix_qk5437db2opm-7 {
                list-style-type: none;
            }
            .lst-kix_mobbfsdqx47q-1 > li:before {
                content: "-  ";
            }
            ul.lst-kix_qk5437db2opm-4 {
                list-style-type: none;
            }
            ul.lst-kix_qk5437db2opm-5 {
                list-style-type: none;
            }
            .lst-kix_mobbfsdqx47q-3 > li:before {
                content: "-  ";
            }
            .lst-kix_mobbfsdqx47q-2 > li:before {
                content: "-  ";
            }
            ol.lst-kix_arjja9wcznbj-3.start {
                counter-reset: lst-ctn-kix_arjja9wcznbj-3 0;
            }
            .lst-kix_mobbfsdqx47q-6 > li:before {
                content: "-  ";
            }
            .lst-kix_mobbfsdqx47q-5 > li:before {
                content: "-  ";
            }
            .lst-kix_mobbfsdqx47q-4 > li:before {
                content: "-  ";
            }
            .lst-kix_yh5ju3w0sizu-3 > li:before {
                content: "-  ";
            }
            ul.lst-kix_26gspg8lwzpj-0 {
                list-style-type: none;
            }
            .lst-kix_yh5ju3w0sizu-1 > li:before {
                content: "-  ";
            }
            .lst-kix_yh5ju3w0sizu-2 > li:before {
                content: "-  ";
            }
            ul.lst-kix_26gspg8lwzpj-5 {
                list-style-type: none;
            }
            .lst-kix_mobbfsdqx47q-7 > li:before {
                content: "-  ";
            }
            .lst-kix_yh5ju3w0sizu-0 > li:before {
                content: "-  ";
            }
            ul.lst-kix_26gspg8lwzpj-6 {
                list-style-type: none;
            }
            ul.lst-kix_7qnwni40hl0l-7 {
                list-style-type: none;
            }
            ul.lst-kix_26gspg8lwzpj-7 {
                list-style-type: none;
            }
            ul.lst-kix_7qnwni40hl0l-8 {
                list-style-type: none;
            }
            ul.lst-kix_26gspg8lwzpj-8 {
                list-style-type: none;
            }
            ul.lst-kix_26gspg8lwzpj-1 {
                list-style-type: none;
            }
            ul.lst-kix_26gspg8lwzpj-2 {
                list-style-type: none;
            }
            ul.lst-kix_26gspg8lwzpj-3 {
                list-style-type: none;
            }
            .lst-kix_mobbfsdqx47q-8 > li:before {
                content: "-  ";
            }
            ul.lst-kix_26gspg8lwzpj-4 {
                list-style-type: none;
            }
            .lst-kix_arjja9wcznbj-5 > li {
                counter-increment: lst-ctn-kix_arjja9wcznbj-5;
            }
            .lst-kix_arjja9wcznbj-8 > li {
                counter-increment: lst-ctn-kix_arjja9wcznbj-8;
            }
            ol.lst-kix_arjja9wcznbj-1.start {
                counter-reset: lst-ctn-kix_arjja9wcznbj-1 0;
            }
            .lst-kix_dzg0iir2ae22-6 > li:before {
                content: "-  ";
            }
            .lst-kix_dzg0iir2ae22-7 > li:before {
                content: "-  ";
            }
            .lst-kix_dzg0iir2ae22-4 > li:before {
                content: "-  ";
            }
            .lst-kix_dzg0iir2ae22-8 > li:before {
                content: "-  ";
            }
            ul.lst-kix_mfud1r67izxm-0 {
                list-style-type: none;
            }
            .lst-kix_dzg0iir2ae22-5 > li:before {
                content: "-  ";
            }
            ul.lst-kix_mfud1r67izxm-5 {
                list-style-type: none;
            }
            ul.lst-kix_mfud1r67izxm-6 {
                list-style-type: none;
            }
            ul.lst-kix_mfud1r67izxm-7 {
                list-style-type: none;
            }
            ul.lst-kix_mfud1r67izxm-8 {
                list-style-type: none;
            }
            ul.lst-kix_mfud1r67izxm-1 {
                list-style-type: none;
            }
            ul.lst-kix_mfud1r67izxm-2 {
                list-style-type: none;
            }
            .lst-kix_dzg0iir2ae22-0 > li:before {
                content: "-  ";
            }
            ol.lst-kix_arjja9wcznbj-8.start {
                counter-reset: lst-ctn-kix_arjja9wcznbj-8 0;
            }
            ul.lst-kix_mfud1r67izxm-3 {
                list-style-type: none;
            }
            ul.lst-kix_mfud1r67izxm-4 {
                list-style-type: none;
            }
            .lst-kix_dzg0iir2ae22-2 > li:before {
                content: "-  ";
            }
            .lst-kix_dzg0iir2ae22-3 > li:before {
                content: "-  ";
            }
            .lst-kix_dzg0iir2ae22-1 > li:before {
                content: "-  ";
            }
            ul.lst-kix_dzg0iir2ae22-8 {
                list-style-type: none;
            }
            .lst-kix_yh5ju3w0sizu-4 > li:before {
                content: "-  ";
            }
            ul.lst-kix_dzg0iir2ae22-6 {
                list-style-type: none;
            }
            ul.lst-kix_dzg0iir2ae22-7 {
                list-style-type: none;
            }
            .lst-kix_yh5ju3w0sizu-5 > li:before {
                content: "-  ";
            }
            .lst-kix_yh5ju3w0sizu-6 > li:before {
                content: "-  ";
            }
            .lst-kix_arjja9wcznbj-0 > li {
                counter-increment: lst-ctn-kix_arjja9wcznbj-0;
            }
            ul.lst-kix_dzg0iir2ae22-0 {
                list-style-type: none;
            }
            .lst-kix_arjja9wcznbj-3 > li {
                counter-increment: lst-ctn-kix_arjja9wcznbj-3;
            }
            ul.lst-kix_fdfc1j4sxxnw-5 {
                list-style-type: none;
            }
            .lst-kix_yh5ju3w0sizu-7 > li:before {
                content: "-  ";
            }
            .lst-kix_yh5ju3w0sizu-8 > li:before {
                content: "-  ";
            }
            ul.lst-kix_dzg0iir2ae22-1 {
                list-style-type: none;
            }
            ul.lst-kix_fdfc1j4sxxnw-6 {
                list-style-type: none;
            }
            ul.lst-kix_fdfc1j4sxxnw-7 {
                list-style-type: none;
            }
            ul.lst-kix_fdfc1j4sxxnw-8 {
                list-style-type: none;
            }
            ul.lst-kix_dzg0iir2ae22-4 {
                list-style-type: none;
            }
            ul.lst-kix_dzg0iir2ae22-5 {
                list-style-type: none;
            }
            li.li-bullet-0:before {
                margin-left: -18pt;
                white-space: nowrap;
                display: inline-block;
                min-width: 18pt;
            }
            ul.lst-kix_dzg0iir2ae22-2 {
                list-style-type: none;
            }
            ol.lst-kix_arjja9wcznbj-2.start {
                counter-reset: lst-ctn-kix_arjja9wcznbj-2 0;
            }
            .lst-kix_arjja9wcznbj-6 > li {
                counter-increment: lst-ctn-kix_arjja9wcznbj-6;
            }
            ul.lst-kix_dzg0iir2ae22-3 {
                list-style-type: none;
            }
            ol {
                margin: 0;
                padding: 0;
            }
            table td,
            table th {
                padding: 0;
            }
            .c19 {
                border-right-style: solid;
                padding: 2pt 3pt 2pt 3pt;
                border-bottom-color: #a3a3a3;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #a3a3a3;
                vertical-align: top;
                border-right-color: #a3a3a3;
                border-left-width: 1pt;
                border-top-style: solid;
                background-color: #bdd7ee;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 192.8pt;
                border-top-color: #a3a3a3;
                border-bottom-style: solid;
            }
            .c22 {
                border-right-style: solid;
                padding: 2pt 3pt 2pt 3pt;
                border-bottom-color: #a3a3a3;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #a3a3a3;
                vertical-align: top;
                border-right-color: #a3a3a3;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 192.8pt;
                border-top-color: #a3a3a3;
                border-bottom-style: solid;
            }
            .c12 {
                border-right-style: solid;
                padding: 2pt 3pt 2pt 3pt;
                border-bottom-color: #a3a3a3;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #a3a3a3;
                vertical-align: top;
                border-right-color: #a3a3a3;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 102pt;
                border-top-color: #a3a3a3;
                border-bottom-style: solid;
            }
            .c27 {
                border-right-style: solid;
                padding: 2pt 3pt 2pt 3pt;
                border-bottom-color: #a3a3a3;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #a3a3a3;
                vertical-align: top;
                border-right-color: #a3a3a3;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 124.5pt;
                border-top-color: #a3a3a3;
                border-bottom-style: solid;
            }
            .c23 {
                border-right-style: solid;
                padding: 2pt 3pt 2pt 3pt;
                border-bottom-color: #a3a3a3;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #a3a3a3;
                vertical-align: top;
                border-right-color: #a3a3a3;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 334.5pt;
                border-top-color: #a3a3a3;
                border-bottom-style: solid;
            }
            .c4 {
                margin-left: 36pt;
                padding-top: 0pt;
                padding-left: 0pt;
                padding-bottom: 0pt;
                line-height: 1.15;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            .c5 {
                margin-left: 72pt;
                padding-top: 0pt;
                padding-left: 0pt;
                padding-bottom: 0pt;
                line-height: 1.15;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            .c0 {
                color: #000000;
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 11pt;
                font-family: "Arial";
                font-style: normal;
            }
            .c18 {
                padding-top: 0pt;
                padding-left: 0pt;
                padding-bottom: 0pt;
                line-height: 1.15;
                orphans: 2;
                widows: 2;
                text-align: center;
            }
            .c24 {
                color: #000000;
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-family: "Arial";
                font-style: normal;
            }
            .c29 {
                color: #000000;
                font-weight: 400;
                vertical-align: baseline;
                font-size: 11pt;
                font-family: "Arial";
                font-style: normal;
            }
            .c13 {
                color: #000000;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 11pt;
                font-family: "Arial";
                font-style: normal;
            }
            .c6 {
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1.15;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            .c10 {
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 11pt;
                font-family: "Arial";
                font-style: normal;
            }
            .c21 {
                text-decoration: none;
                vertical-align: baseline;
                font-size: 11pt;
                font-family: "Arial";
                font-style: normal;
            }
            .c26 {
                border-spacing: 0;
                border-collapse: collapse;
                margin-right: auto;
            }
            .c33 {
                background-color: #ffffff;
                max-width: 451.4pt;
                padding: 72pt 72pt 72pt 72pt;
            }
            .c7 {
                text-decoration-skip-ink: none;
                -webkit-text-decoration-skip: none;
                text-decoration: underline;
            }
            .c28 {
                margin-left: 144pt;
                padding-left: 0pt;
            }
            .c11 {
                margin-left: 108pt;
                padding-left: 0pt;
            }
            .c9 {
                padding: 0;
                margin: 0;
            }
            .c2 {
                font-weight: 700;
            }
            .c17 {
                background-color: #95b3d7;
            }
            .c34 {
                text-indent: -18pt;
            }
            .c30 {
                background-color: #bdd7ee;
            }
            .c15 {
                height: 11pt;
            }
            .c1 {
                color: #002060;
            }
            .c14 {
                height: 16.5pt;
            }
            .c3 {
                color: #5b9bd5;
            }
            .c31 {
                margin-left: 72pt;
            }
            .c20 {
                color: #2e75b5;
            }
            .c32 {
                font-size: 22pt;
            }
            .c8 {
                margin-left: 36pt;
            }
            .c16 {
                font-size: 18pt;
            }
            .c25 {
                text-indent: 36pt;
            }
            .title {
                padding-top: 0pt;
                color: #000000;
                font-size: 26pt;
                padding-bottom: 3pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            .subtitle {
                padding-top: 0pt;
                color: #666666;
                font-size: 15pt;
                padding-bottom: 16pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            li {
                color: #000000;
                font-size: 11pt;
                font-family: "Arial";
            }
            p {
                margin: 0;
                color: #000000;
                font-size: 11pt;
                font-family: "Arial";
            }
            h1 {
                padding-top: 20pt;
                color: #000000;
                font-size: 20pt;
                padding-bottom: 6pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            h2 {
                padding-top: 18pt;
                color: #000000;
                font-size: 16pt;
                padding-bottom: 6pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            h3 {
                padding-top: 16pt;
                color: #434343;
                font-size: 14pt;
                padding-bottom: 4pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            h4 {
                padding-top: 14pt;
                color: #666666;
                font-size: 12pt;
                padding-bottom: 4pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            h5 {
                padding-top: 12pt;
                color: #666666;
                font-size: 11pt;
                padding-bottom: 4pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            h6 {
                padding-top: 12pt;
                color: #666666;
                font-size: 11pt;
                padding-bottom: 4pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                font-style: italic;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
