@import url("../fonts/consolas.css");
ul.lst-kix_su6iyfr1u1n2-8 {
    list-style-type: none;
}
.lst-kix_5268ecefiwou-8 > li:before {
    content: "-  ";
}
.lst-kix_5268ecefiwou-5 > li:before {
    content: "-  ";
}
ol.lst-kix_w2sll28ccplz-7 {
    list-style-type: none;
}
ul.lst-kix_su6iyfr1u1n2-0 {
    list-style-type: none;
}
ol.lst-kix_w2sll28ccplz-8 {
    list-style-type: none;
}
ul.lst-kix_su6iyfr1u1n2-1 {
    list-style-type: none;
}
ul.lst-kix_su6iyfr1u1n2-2 {
    list-style-type: none;
}
ul.lst-kix_su6iyfr1u1n2-3 {
    list-style-type: none;
}
.lst-kix_5268ecefiwou-6 > li:before {
    content: "-  ";
}
ul.lst-kix_su6iyfr1u1n2-4 {
    list-style-type: none;
}
ul.lst-kix_su6iyfr1u1n2-5 {
    list-style-type: none;
}
ul.lst-kix_su6iyfr1u1n2-6 {
    list-style-type: none;
}
ul.lst-kix_su6iyfr1u1n2-7 {
    list-style-type: none;
}
.lst-kix_5268ecefiwou-7 > li:before {
    content: "-  ";
}
ol.lst-kix_eb9jqleoogcr-4.start {
    counter-reset: lst-ctn-kix_eb9jqleoogcr-4 0;
}
.lst-kix_talo7qi80efh-6 > li:before {
    content: "-  ";
}
.lst-kix_57xedlwc0vv8-6 > li:before {
    content: "-  ";
}
.lst-kix_57xedlwc0vv8-7 > li:before {
    content: "-  ";
}
.lst-kix_talo7qi80efh-4 > li:before {
    content: "-  ";
}
.lst-kix_talo7qi80efh-8 > li:before {
    content: "-  ";
}
.lst-kix_57xedlwc0vv8-8 > li:before {
    content: "-  ";
}
.lst-kix_talo7qi80efh-5 > li:before {
    content: "-  ";
}
.lst-kix_ad2xoq2m3spn-2 > li {
    counter-increment: lst-ctn-kix_ad2xoq2m3spn-2;
}
.lst-kix_talo7qi80efh-7 > li:before {
    content: "-  ";
}
ol.lst-kix_pkgt1saga95a-3.start {
    counter-reset: lst-ctn-kix_pkgt1saga95a-3 0;
}
ol.lst-kix_8wucp4338eb-5.start {
    counter-reset: lst-ctn-kix_8wucp4338eb-5 0;
}
.lst-kix_5268ecefiwou-0 > li:before {
    content: "-  ";
}
.lst-kix_5268ecefiwou-2 > li:before {
    content: "-  ";
}
.lst-kix_5268ecefiwou-1 > li:before {
    content: "-  ";
}
.lst-kix_5268ecefiwou-4 > li:before {
    content: "-  ";
}
.lst-kix_eb9jqleoogcr-7 > li {
    counter-increment: lst-ctn-kix_eb9jqleoogcr-7;
}
.lst-kix_5268ecefiwou-3 > li:before {
    content: "-  ";
}
.lst-kix_l5k31ifqi9tm-3 > li:before {
    content: "-  ";
}
.lst-kix_8wucp4338eb-8 > li:before {
    content: "" counter(lst-ctn-kix_8wucp4338eb-8, lower-roman) ". ";
}
ul.lst-kix_sut31zfvoerd-2 {
    list-style-type: none;
}
ul.lst-kix_sut31zfvoerd-1 {
    list-style-type: none;
}
.lst-kix_l5k31ifqi9tm-2 > li:before {
    content: "-  ";
}
.lst-kix_l5k31ifqi9tm-4 > li:before {
    content: "-  ";
}
ul.lst-kix_sut31zfvoerd-0 {
    list-style-type: none;
}
.lst-kix_l5k31ifqi9tm-1 > li:before {
    content: "-  ";
}
.lst-kix_l5k31ifqi9tm-5 > li:before {
    content: "-  ";
}
.lst-kix_8wucp4338eb-6 > li:before {
    content: "" counter(lst-ctn-kix_8wucp4338eb-6, decimal) ". ";
}
ul.lst-kix_sut31zfvoerd-6 {
    list-style-type: none;
}
ul.lst-kix_sut31zfvoerd-5 {
    list-style-type: none;
}
.lst-kix_8wucp4338eb-7 > li:before {
    content: "" counter(lst-ctn-kix_8wucp4338eb-7, lower-latin) ". ";
}
ul.lst-kix_sut31zfvoerd-4 {
    list-style-type: none;
}
.lst-kix_pkgt1saga95a-7 > li {
    counter-increment: lst-ctn-kix_pkgt1saga95a-7;
}
ul.lst-kix_sut31zfvoerd-3 {
    list-style-type: none;
}
.lst-kix_l5k31ifqi9tm-7 > li:before {
    content: "-  ";
}
.lst-kix_5xfe55ot9xbx-3 > li {
    counter-increment: lst-ctn-kix_5xfe55ot9xbx-3;
}
.lst-kix_l5k31ifqi9tm-0 > li:before {
    content: "-  ";
}
.lst-kix_l5k31ifqi9tm-6 > li:before {
    content: "-  ";
}
.lst-kix_l5k31ifqi9tm-8 > li:before {
    content: "-  ";
}
ul.lst-kix_sut31zfvoerd-8 {
    list-style-type: none;
}
ul.lst-kix_sut31zfvoerd-7 {
    list-style-type: none;
}
.lst-kix_8wucp4338eb-1 > li:before {
    content: "" counter(lst-ctn-kix_8wucp4338eb-1, lower-latin) ". ";
}
.lst-kix_8wucp4338eb-2 > li:before {
    content: "" counter(lst-ctn-kix_8wucp4338eb-2, lower-roman) ". ";
}
.lst-kix_talo7qi80efh-0 > li:before {
    content: "-  ";
}
.lst-kix_8wucp4338eb-3 > li:before {
    content: "" counter(lst-ctn-kix_8wucp4338eb-3, decimal) ". ";
}
.lst-kix_talo7qi80efh-1 > li:before {
    content: "-  ";
}
.lst-kix_8wucp4338eb-4 > li:before {
    content: "" counter(lst-ctn-kix_8wucp4338eb-4, lower-latin) ". ";
}
.lst-kix_talo7qi80efh-2 > li:before {
    content: "-  ";
}
.lst-kix_57xedlwc0vv8-5 > li:before {
    content: "-  ";
}
.lst-kix_8wucp4338eb-5 > li:before {
    content: "" counter(lst-ctn-kix_8wucp4338eb-5, lower-roman) ". ";
}
.lst-kix_talo7qi80efh-3 > li:before {
    content: "-  ";
}
.lst-kix_8wucp4338eb-8 > li {
    counter-increment: lst-ctn-kix_8wucp4338eb-8;
}
ol.lst-kix_pkgt1saga95a-8.start {
    counter-reset: lst-ctn-kix_pkgt1saga95a-8 0;
}
.lst-kix_ad2xoq2m3spn-8 > li:before {
    content: "" counter(lst-ctn-kix_ad2xoq2m3spn-8, lower-roman) ". ";
}
.lst-kix_57xedlwc0vv8-4 > li:before {
    content: "-  ";
}
.lst-kix_ad2xoq2m3spn-5 > li:before {
    content: "" counter(lst-ctn-kix_ad2xoq2m3spn-5, lower-roman) ". ";
}
.lst-kix_ad2xoq2m3spn-6 > li:before {
    content: "" counter(lst-ctn-kix_ad2xoq2m3spn-6, decimal) ". ";
}
.lst-kix_57xedlwc0vv8-3 > li:before {
    content: "-  ";
}
.lst-kix_w2sll28ccplz-3 > li {
    counter-increment: lst-ctn-kix_w2sll28ccplz-3;
}
.lst-kix_eb9jqleoogcr-3 > li {
    counter-increment: lst-ctn-kix_eb9jqleoogcr-3;
}
.lst-kix_57xedlwc0vv8-1 > li:before {
    content: "-  ";
}
.lst-kix_ad2xoq2m3spn-7 > li:before {
    content: "" counter(lst-ctn-kix_ad2xoq2m3spn-7, lower-latin) ". ";
}
.lst-kix_57xedlwc0vv8-2 > li:before {
    content: "-  ";
}
.lst-kix_8wucp4338eb-0 > li:before {
    content: "" counter(lst-ctn-kix_8wucp4338eb-0, decimal) ". ";
}
.lst-kix_ad2xoq2m3spn-1 > li:before {
    content: "" counter(lst-ctn-kix_ad2xoq2m3spn-1, lower-latin) ". ";
}
.lst-kix_ad2xoq2m3spn-2 > li:before {
    content: "" counter(lst-ctn-kix_ad2xoq2m3spn-2, lower-roman) ". ";
}
ol.lst-kix_w2sll28ccplz-0 {
    list-style-type: none;
}
ol.lst-kix_w2sll28ccplz-1 {
    list-style-type: none;
}
ol.lst-kix_w2sll28ccplz-3.start {
    counter-reset: lst-ctn-kix_w2sll28ccplz-3 0;
}
ol.lst-kix_w2sll28ccplz-2 {
    list-style-type: none;
}
ol.lst-kix_w2sll28ccplz-3 {
    list-style-type: none;
}
.lst-kix_ad2xoq2m3spn-0 > li:before {
    content: "" counter(lst-ctn-kix_ad2xoq2m3spn-0, decimal) ". ";
}
.lst-kix_ad2xoq2m3spn-4 > li:before {
    content: "" counter(lst-ctn-kix_ad2xoq2m3spn-4, lower-latin) ". ";
}
ol.lst-kix_w2sll28ccplz-4 {
    list-style-type: none;
}
ol.lst-kix_w2sll28ccplz-5 {
    list-style-type: none;
}
.lst-kix_57xedlwc0vv8-0 > li:before {
    content: "-  ";
}
ol.lst-kix_w2sll28ccplz-6 {
    list-style-type: none;
}
ol.lst-kix_8wucp4338eb-0.start {
    counter-reset: lst-ctn-kix_8wucp4338eb-0 0;
}
.lst-kix_ad2xoq2m3spn-3 > li:before {
    content: "" counter(lst-ctn-kix_ad2xoq2m3spn-3, decimal) ". ";
}
ol.lst-kix_8wucp4338eb-0 {
    list-style-type: none;
}
.lst-kix_c2gmv94kpho3-8 > li:before {
    content: "-  ";
}
ol.lst-kix_8wucp4338eb-2 {
    list-style-type: none;
}
ol.lst-kix_8wucp4338eb-1 {
    list-style-type: none;
}
.lst-kix_ad2xoq2m3spn-6 > li {
    counter-increment: lst-ctn-kix_ad2xoq2m3spn-6;
}
ol.lst-kix_8wucp4338eb-4 {
    list-style-type: none;
}
ol.lst-kix_8wucp4338eb-3 {
    list-style-type: none;
}
.lst-kix_18uww9g8391-6 > li:before {
    content: "-  ";
}
.lst-kix_5xfe55ot9xbx-6 > li {
    counter-increment: lst-ctn-kix_5xfe55ot9xbx-6;
}
ol.lst-kix_8wucp4338eb-6 {
    list-style-type: none;
}
ol.lst-kix_8wucp4338eb-5 {
    list-style-type: none;
}
ol.lst-kix_8wucp4338eb-8 {
    list-style-type: none;
}
ol.lst-kix_8wucp4338eb-7 {
    list-style-type: none;
}
.lst-kix_c2gmv94kpho3-4 > li:before {
    content: "-  ";
}
.lst-kix_c2gmv94kpho3-2 > li:before {
    content: "-  ";
}
.lst-kix_18uww9g8391-4 > li:before {
    content: "-  ";
}
.lst-kix_5xfe55ot9xbx-7 > li {
    counter-increment: lst-ctn-kix_5xfe55ot9xbx-7;
}
.lst-kix_c2gmv94kpho3-0 > li:before {
    content: "-  ";
}
.lst-kix_18uww9g8391-2 > li:before {
    content: "-  ";
}
ol.lst-kix_ad2xoq2m3spn-4.start {
    counter-reset: lst-ctn-kix_ad2xoq2m3spn-4 0;
}
.lst-kix_hyczv086lrw5-6 > li:before {
    content: "-  ";
}
.lst-kix_hyczv086lrw5-8 > li:before {
    content: "-  ";
}
.lst-kix_xudbgdjecmeq-5 > li:before {
    content: "-  ";
}
.lst-kix_18uww9g8391-0 > li:before {
    content: "-  ";
}
ul.lst-kix_7olrfk88vb2s-6 {
    list-style-type: none;
}
ul.lst-kix_7olrfk88vb2s-5 {
    list-style-type: none;
}
ul.lst-kix_7olrfk88vb2s-8 {
    list-style-type: none;
}
ul.lst-kix_7olrfk88vb2s-7 {
    list-style-type: none;
}
ul.lst-kix_7olrfk88vb2s-2 {
    list-style-type: none;
}
ul.lst-kix_7olrfk88vb2s-1 {
    list-style-type: none;
}
.lst-kix_d8thlrnh43ol-8 > li:before {
    content: "-  ";
}
.lst-kix_ad2xoq2m3spn-5 > li {
    counter-increment: lst-ctn-kix_ad2xoq2m3spn-5;
}
ul.lst-kix_7olrfk88vb2s-4 {
    list-style-type: none;
}
ul.lst-kix_7olrfk88vb2s-3 {
    list-style-type: none;
}
.lst-kix_d8thlrnh43ol-6 > li:before {
    content: "-  ";
}
.lst-kix_xudbgdjecmeq-7 > li:before {
    content: "-  ";
}
.lst-kix_d8thlrnh43ol-2 > li:before {
    content: "-  ";
}
ol.lst-kix_w2sll28ccplz-8.start {
    counter-reset: lst-ctn-kix_w2sll28ccplz-8 0;
}
.lst-kix_d8thlrnh43ol-0 > li:before {
    content: "-  ";
}
.lst-kix_d8thlrnh43ol-4 > li:before {
    content: "-  ";
}
ul.lst-kix_7olrfk88vb2s-0 {
    list-style-type: none;
}
ol.lst-kix_w2sll28ccplz-5.start {
    counter-reset: lst-ctn-kix_w2sll28ccplz-5 0;
}
.lst-kix_c2gmv94kpho3-6 > li:before {
    content: "-  ";
}
.lst-kix_18uww9g8391-8 > li:before {
    content: "-  ";
}
.lst-kix_w2sll28ccplz-7 > li {
    counter-increment: lst-ctn-kix_w2sll28ccplz-7;
}
.lst-kix_9svjsebzqu79-7 > li:before {
    content: "-  ";
}
.lst-kix_yabjja3us6rb-3 > li:before {
    content: "-  ";
}
.lst-kix_yabjja3us6rb-1 > li:before {
    content: "-  ";
}
.lst-kix_yabjja3us6rb-5 > li:before {
    content: "-  ";
}
ol.lst-kix_eb9jqleoogcr-2.start {
    counter-reset: lst-ctn-kix_eb9jqleoogcr-2 0;
}
.lst-kix_yabjja3us6rb-7 > li:before {
    content: "-  ";
}
.lst-kix_8wucp4338eb-4 > li {
    counter-increment: lst-ctn-kix_8wucp4338eb-4;
}
.lst-kix_9svjsebzqu79-1 > li:before {
    content: "-  ";
}
ul.lst-kix_rlin2b7anhex-1 {
    list-style-type: none;
}
ul.lst-kix_rlin2b7anhex-2 {
    list-style-type: none;
}
ul.lst-kix_rlin2b7anhex-0 {
    list-style-type: none;
}
ul.lst-kix_rlin2b7anhex-5 {
    list-style-type: none;
}
.lst-kix_9svjsebzqu79-3 > li:before {
    content: "-  ";
}
ul.lst-kix_rlin2b7anhex-6 {
    list-style-type: none;
}
ul.lst-kix_rlin2b7anhex-3 {
    list-style-type: none;
}
ul.lst-kix_rlin2b7anhex-4 {
    list-style-type: none;
}
.lst-kix_9svjsebzqu79-5 > li:before {
    content: "-  ";
}
ul.lst-kix_rlin2b7anhex-7 {
    list-style-type: none;
}
ul.lst-kix_rlin2b7anhex-8 {
    list-style-type: none;
}
.lst-kix_hyczv086lrw5-2 > li:before {
    content: "-  ";
}
.lst-kix_hyczv086lrw5-4 > li:before {
    content: "-  ";
}
.lst-kix_xudbgdjecmeq-1 > li:before {
    content: "-  ";
}
.lst-kix_xudbgdjecmeq-3 > li:before {
    content: "-  ";
}
ol.lst-kix_ad2xoq2m3spn-2.start {
    counter-reset: lst-ctn-kix_ad2xoq2m3spn-2 0;
}
ol.lst-kix_8wucp4338eb-3.start {
    counter-reset: lst-ctn-kix_8wucp4338eb-3 0;
}
.lst-kix_pkgt1saga95a-3 > li {
    counter-increment: lst-ctn-kix_pkgt1saga95a-3;
}
.lst-kix_sut31zfvoerd-1 > li:before {
    content: "-  ";
}
.lst-kix_hyczv086lrw5-0 > li:before {
    content: "-  ";
}
ol.lst-kix_eb9jqleoogcr-7.start {
    counter-reset: lst-ctn-kix_eb9jqleoogcr-7 0;
}
.lst-kix_su6iyfr1u1n2-4 > li:before {
    content: "-  ";
}
.lst-kix_wlj9mby81umi-5 > li:before {
    content: "-  ";
}
.lst-kix_w2sll28ccplz-7 > li:before {
    content: "" counter(lst-ctn-kix_w2sll28ccplz-7, lower-latin) ". ";
}
.lst-kix_eb9jqleoogcr-5 > li:before {
    content: "" counter(lst-ctn-kix_eb9jqleoogcr-5, lower-roman) ". ";
}
.lst-kix_su6iyfr1u1n2-3 > li:before {
    content: "-  ";
}
.lst-kix_su6iyfr1u1n2-7 > li:before {
    content: "-  ";
}
.lst-kix_wlj9mby81umi-1 > li:before {
    content: "-  ";
}
.lst-kix_5xfe55ot9xbx-0 > li {
    counter-increment: lst-ctn-kix_5xfe55ot9xbx-0;
}
.lst-kix_svrtwkpzkbm3-1 > li:before {
    content: "-  ";
}
.lst-kix_c9x0vuyaxvyw-2 > li:before {
    content: "-  ";
}
.lst-kix_eb9jqleoogcr-2 > li:before {
    content: "" counter(lst-ctn-kix_eb9jqleoogcr-2, lower-roman) ". ";
}
.lst-kix_c9x0vuyaxvyw-1 > li:before {
    content: "-  ";
}
.lst-kix_wlj9mby81umi-2 > li:before {
    content: "-  ";
}
.lst-kix_svrtwkpzkbm3-2 > li:before {
    content: "-  ";
}
ol.lst-kix_8wucp4338eb-2.start {
    counter-reset: lst-ctn-kix_8wucp4338eb-2 0;
}
.lst-kix_w2sll28ccplz-2 > li:before {
    content: "" counter(lst-ctn-kix_w2sll28ccplz-2, lower-roman) ". ";
}
.lst-kix_w2sll28ccplz-2 > li {
    counter-increment: lst-ctn-kix_w2sll28ccplz-2;
}
.lst-kix_sut31zfvoerd-6 > li:before {
    content: "-  ";
}
.lst-kix_w2sll28ccplz-3 > li:before {
    content: "" counter(lst-ctn-kix_w2sll28ccplz-3, decimal) ". ";
}
.lst-kix_eb9jqleoogcr-6 > li {
    counter-increment: lst-ctn-kix_eb9jqleoogcr-6;
}
.lst-kix_8hzcs1sxkeoo-0 > li:before {
    content: "-  ";
}
.lst-kix_pkgt1saga95a-4 > li {
    counter-increment: lst-ctn-kix_pkgt1saga95a-4;
}
.lst-kix_w2sll28ccplz-6 > li:before {
    content: "" counter(lst-ctn-kix_w2sll28ccplz-6, decimal) ". ";
}
.lst-kix_su6iyfr1u1n2-0 > li:before {
    content: "-  ";
}
.lst-kix_c9x0vuyaxvyw-6 > li:before {
    content: "-  ";
}
.lst-kix_eb9jqleoogcr-6 > li:before {
    content: "" counter(lst-ctn-kix_eb9jqleoogcr-6, decimal) ". ";
}
.lst-kix_c9x0vuyaxvyw-5 > li:before {
    content: "-  ";
}
.lst-kix_sut31zfvoerd-5 > li:before {
    content: "-  ";
}
.lst-kix_wlj9mby81umi-6 > li:before {
    content: "-  ";
}
.lst-kix_8hzcs1sxkeoo-4 > li:before {
    content: "-  ";
}
ul.lst-kix_8hzcs1sxkeoo-7 {
    list-style-type: none;
}
ul.lst-kix_8hzcs1sxkeoo-8 {
    list-style-type: none;
}
ul.lst-kix_57xedlwc0vv8-8 {
    list-style-type: none;
}
ul.lst-kix_57xedlwc0vv8-7 {
    list-style-type: none;
}
ul.lst-kix_57xedlwc0vv8-6 {
    list-style-type: none;
}
ul.lst-kix_8hzcs1sxkeoo-3 {
    list-style-type: none;
}
.lst-kix_pkgt1saga95a-3 > li:before {
    content: "" counter(lst-ctn-kix_pkgt1saga95a-3, decimal) ". ";
}
.lst-kix_pkgt1saga95a-7 > li:before {
    content: "" counter(lst-ctn-kix_pkgt1saga95a-7, lower-latin) ". ";
}
ul.lst-kix_8hzcs1sxkeoo-4 {
    list-style-type: none;
}
.lst-kix_8hzcs1sxkeoo-1 > li:before {
    content: "-  ";
}
.lst-kix_8hzcs1sxkeoo-5 > li:before {
    content: "-  ";
}
ul.lst-kix_8hzcs1sxkeoo-5 {
    list-style-type: none;
}
ul.lst-kix_8hzcs1sxkeoo-6 {
    list-style-type: none;
}
ul.lst-kix_765qu8dv6yjc-0 {
    list-style-type: none;
}
ul.lst-kix_8hzcs1sxkeoo-0 {
    list-style-type: none;
}
ul.lst-kix_8hzcs1sxkeoo-1 {
    list-style-type: none;
}
ul.lst-kix_8hzcs1sxkeoo-2 {
    list-style-type: none;
}
ul.lst-kix_765qu8dv6yjc-3 {
    list-style-type: none;
}
ul.lst-kix_765qu8dv6yjc-4 {
    list-style-type: none;
}
ul.lst-kix_765qu8dv6yjc-1 {
    list-style-type: none;
}
.lst-kix_pkgt1saga95a-4 > li:before {
    content: "" counter(lst-ctn-kix_pkgt1saga95a-4, lower-latin) ". ";
}
ul.lst-kix_765qu8dv6yjc-2 {
    list-style-type: none;
}
ul.lst-kix_765qu8dv6yjc-7 {
    list-style-type: none;
}
ul.lst-kix_765qu8dv6yjc-8 {
    list-style-type: none;
}
ol.lst-kix_5xfe55ot9xbx-2.start {
    counter-reset: lst-ctn-kix_5xfe55ot9xbx-2 0;
}
ul.lst-kix_765qu8dv6yjc-5 {
    list-style-type: none;
}
ul.lst-kix_765qu8dv6yjc-6 {
    list-style-type: none;
}
.lst-kix_eb9jqleoogcr-1 > li:before {
    content: "" counter(lst-ctn-kix_eb9jqleoogcr-1, lower-latin) ". ";
}
.lst-kix_8hzcs1sxkeoo-8 > li:before {
    content: "-  ";
}
ul.lst-kix_57xedlwc0vv8-1 {
    list-style-type: none;
}
ul.lst-kix_57xedlwc0vv8-0 {
    list-style-type: none;
}
.lst-kix_w2sll28ccplz-4 > li {
    counter-increment: lst-ctn-kix_w2sll28ccplz-4;
}
ul.lst-kix_57xedlwc0vv8-5 {
    list-style-type: none;
}
ul.lst-kix_57xedlwc0vv8-4 {
    list-style-type: none;
}
.lst-kix_pkgt1saga95a-8 > li:before {
    content: "" counter(lst-ctn-kix_pkgt1saga95a-8, lower-roman) ". ";
}
ul.lst-kix_57xedlwc0vv8-3 {
    list-style-type: none;
}
ul.lst-kix_57xedlwc0vv8-2 {
    list-style-type: none;
}
ol.lst-kix_5xfe55ot9xbx-8.start {
    counter-reset: lst-ctn-kix_5xfe55ot9xbx-8 0;
}
.lst-kix_pkgt1saga95a-8 > li {
    counter-increment: lst-ctn-kix_pkgt1saga95a-8;
}
.lst-kix_vuk2wugmg35k-3 > li:before {
    content: "-  ";
}
ol.lst-kix_ad2xoq2m3spn-6.start {
    counter-reset: lst-ctn-kix_ad2xoq2m3spn-6 0;
}
.lst-kix_4h6xfuob3vfv-6 > li:before {
    content: "-  ";
}
.lst-kix_vuk2wugmg35k-0 > li:before {
    content: "-  ";
}
.lst-kix_4h6xfuob3vfv-7 > li:before {
    content: "-  ";
}
.lst-kix_pkgt1saga95a-0 > li:before {
    content: "" counter(lst-ctn-kix_pkgt1saga95a-0, decimal) ". ";
}
ol.lst-kix_5xfe55ot9xbx-1.start {
    counter-reset: lst-ctn-kix_5xfe55ot9xbx-1 0;
}
.lst-kix_kup5ftt8a5jc-3 > li:before {
    content: "-  ";
}
ol.lst-kix_5xfe55ot9xbx-7.start {
    counter-reset: lst-ctn-kix_5xfe55ot9xbx-7 0;
}
.lst-kix_w2sll28ccplz-6 > li {
    counter-increment: lst-ctn-kix_w2sll28ccplz-6;
}
.lst-kix_kup5ftt8a5jc-4 > li:before {
    content: "-  ";
}
ol.lst-kix_eb9jqleoogcr-6.start {
    counter-reset: lst-ctn-kix_eb9jqleoogcr-6 0;
}
.lst-kix_vuk2wugmg35k-4 > li:before {
    content: "-  ";
}
.lst-kix_svrtwkpzkbm3-5 > li:before {
    content: "-  ";
}
.lst-kix_kup5ftt8a5jc-8 > li:before {
    content: "-  ";
}
.lst-kix_vuk2wugmg35k-7 > li:before {
    content: "-  ";
}
.lst-kix_kup5ftt8a5jc-7 > li:before {
    content: "-  ";
}
.lst-kix_su6iyfr1u1n2-8 > li:before {
    content: "-  ";
}
.lst-kix_vuk2wugmg35k-8 > li:before {
    content: "-  ";
}
.lst-kix_svrtwkpzkbm3-6 > li:before {
    content: "-  ";
}
ol.lst-kix_ad2xoq2m3spn-5.start {
    counter-reset: lst-ctn-kix_ad2xoq2m3spn-5 0;
}
.lst-kix_cb32ghkb1ws0-2 > li:before {
    content: "-  ";
}
.lst-kix_8wucp4338eb-1 > li {
    counter-increment: lst-ctn-kix_8wucp4338eb-1;
}
ul.lst-kix_xudbgdjecmeq-3 {
    list-style-type: none;
}
ul.lst-kix_xudbgdjecmeq-2 {
    list-style-type: none;
}
ul.lst-kix_xudbgdjecmeq-1 {
    list-style-type: none;
}
ul.lst-kix_xudbgdjecmeq-0 {
    list-style-type: none;
}
.lst-kix_18uww9g8391-3 > li:before {
    content: "-  ";
}
ul.lst-kix_xudbgdjecmeq-7 {
    list-style-type: none;
}
.lst-kix_c2gmv94kpho3-3 > li:before {
    content: "-  ";
}
ul.lst-kix_xudbgdjecmeq-6 {
    list-style-type: none;
}
ul.lst-kix_xudbgdjecmeq-5 {
    list-style-type: none;
}
ul.lst-kix_xudbgdjecmeq-4 {
    list-style-type: none;
}
ul.lst-kix_xudbgdjecmeq-8 {
    list-style-type: none;
}
.lst-kix_7olrfk88vb2s-0 > li:before {
    content: "-  ";
}
.lst-kix_xudbgdjecmeq-6 > li:before {
    content: "-  ";
}
.lst-kix_cb32ghkb1ws0-6 > li:before {
    content: "-  ";
}
.lst-kix_765qu8dv6yjc-3 > li:before {
    content: "-  ";
}
ol.lst-kix_5xfe55ot9xbx-6.start {
    counter-reset: lst-ctn-kix_5xfe55ot9xbx-6 0;
}
ul.lst-kix_kup5ftt8a5jc-7 {
    list-style-type: none;
}
ol.lst-kix_5xfe55ot9xbx-4 {
    list-style-type: none;
}
ul.lst-kix_kup5ftt8a5jc-8 {
    list-style-type: none;
}
ol.lst-kix_5xfe55ot9xbx-3 {
    list-style-type: none;
}
ol.lst-kix_5xfe55ot9xbx-6 {
    list-style-type: none;
}
.lst-kix_kup5ftt8a5jc-0 > li:before {
    content: "-  ";
}
ol.lst-kix_5xfe55ot9xbx-5 {
    list-style-type: none;
}
ul.lst-kix_kup5ftt8a5jc-3 {
    list-style-type: none;
}
.lst-kix_5xfe55ot9xbx-5 > li {
    counter-increment: lst-ctn-kix_5xfe55ot9xbx-5;
}
ol.lst-kix_5xfe55ot9xbx-8 {
    list-style-type: none;
}
.lst-kix_7olrfk88vb2s-4 > li:before {
    content: "-  ";
}
ul.lst-kix_kup5ftt8a5jc-4 {
    list-style-type: none;
}
ol.lst-kix_5xfe55ot9xbx-7 {
    list-style-type: none;
}
.lst-kix_7olrfk88vb2s-8 > li:before {
    content: "-  ";
}
ul.lst-kix_kup5ftt8a5jc-5 {
    list-style-type: none;
}
ul.lst-kix_kup5ftt8a5jc-6 {
    list-style-type: none;
}
.lst-kix_d8thlrnh43ol-5 > li:before {
    content: "-  ";
}
.lst-kix_765qu8dv6yjc-7 > li:before {
    content: "-  ";
}
ol.lst-kix_5xfe55ot9xbx-0 {
    list-style-type: none;
}
.lst-kix_4h6xfuob3vfv-3 > li:before {
    content: "-  ";
}
ol.lst-kix_ad2xoq2m3spn-7.start {
    counter-reset: lst-ctn-kix_ad2xoq2m3spn-7 0;
}
.lst-kix_ad2xoq2m3spn-7 > li {
    counter-increment: lst-ctn-kix_ad2xoq2m3spn-7;
}
ol.lst-kix_5xfe55ot9xbx-2 {
    list-style-type: none;
}
ol.lst-kix_5xfe55ot9xbx-1 {
    list-style-type: none;
}
ul.lst-kix_18uww9g8391-0 {
    list-style-type: none;
}
.lst-kix_d8thlrnh43ol-1 > li:before {
    content: "-  ";
}
ul.lst-kix_18uww9g8391-1 {
    list-style-type: none;
}
ul.lst-kix_18uww9g8391-2 {
    list-style-type: none;
}
ul.lst-kix_18uww9g8391-3 {
    list-style-type: none;
}
ul.lst-kix_kup5ftt8a5jc-0 {
    list-style-type: none;
}
.lst-kix_eb9jqleoogcr-1 > li {
    counter-increment: lst-ctn-kix_eb9jqleoogcr-1;
}
ul.lst-kix_18uww9g8391-4 {
    list-style-type: none;
}
ul.lst-kix_kup5ftt8a5jc-1 {
    list-style-type: none;
}
ul.lst-kix_18uww9g8391-5 {
    list-style-type: none;
}
ul.lst-kix_kup5ftt8a5jc-2 {
    list-style-type: none;
}
ul.lst-kix_18uww9g8391-6 {
    list-style-type: none;
}
.lst-kix_18uww9g8391-7 > li:before {
    content: "-  ";
}
ol.lst-kix_eb9jqleoogcr-8.start {
    counter-reset: lst-ctn-kix_eb9jqleoogcr-8 0;
}
ul.lst-kix_18uww9g8391-7 {
    list-style-type: none;
}
.lst-kix_c2gmv94kpho3-7 > li:before {
    content: "-  ";
}
.lst-kix_rlin2b7anhex-6 > li:before {
    content: "-  ";
}
ul.lst-kix_18uww9g8391-8 {
    list-style-type: none;
}
.lst-kix_yabjja3us6rb-2 > li:before {
    content: "-  ";
}
ol.lst-kix_5xfe55ot9xbx-4.start {
    counter-reset: lst-ctn-kix_5xfe55ot9xbx-4 0;
}
.lst-kix_yabjja3us6rb-6 > li:before {
    content: "-  ";
}
.lst-kix_cjkp2b298ket-7 > li:before {
    content: "-  ";
}
.lst-kix_9svjsebzqu79-8 > li:before {
    content: "-  ";
}
.lst-kix_eb9jqleoogcr-8 > li {
    counter-increment: lst-ctn-kix_eb9jqleoogcr-8;
}
ul.lst-kix_yabjja3us6rb-1 {
    list-style-type: none;
}
ul.lst-kix_yabjja3us6rb-2 {
    list-style-type: none;
}
ul.lst-kix_yabjja3us6rb-3 {
    list-style-type: none;
}
ul.lst-kix_yabjja3us6rb-4 {
    list-style-type: none;
}
ul.lst-kix_l5k31ifqi9tm-0 {
    list-style-type: none;
}
ul.lst-kix_l5k31ifqi9tm-1 {
    list-style-type: none;
}
.lst-kix_cjkp2b298ket-3 > li:before {
    content: "-  ";
}
.lst-kix_9svjsebzqu79-4 > li:before {
    content: "-  ";
}
ul.lst-kix_l5k31ifqi9tm-2 {
    list-style-type: none;
}
ul.lst-kix_l5k31ifqi9tm-3 {
    list-style-type: none;
}
ul.lst-kix_yabjja3us6rb-0 {
    list-style-type: none;
}
ul.lst-kix_l5k31ifqi9tm-4 {
    list-style-type: none;
}
.lst-kix_xudbgdjecmeq-2 > li:before {
    content: "-  ";
}
ul.lst-kix_l5k31ifqi9tm-5 {
    list-style-type: none;
}
.lst-kix_2mczalbdtypu-5 > li:before {
    content: "-  ";
}
ul.lst-kix_l5k31ifqi9tm-6 {
    list-style-type: none;
}
ul.lst-kix_l5k31ifqi9tm-7 {
    list-style-type: none;
}
ul.lst-kix_l5k31ifqi9tm-8 {
    list-style-type: none;
}
.lst-kix_hyczv086lrw5-1 > li:before {
    content: "-  ";
}
.lst-kix_hyczv086lrw5-5 > li:before {
    content: "-  ";
}
ul.lst-kix_yabjja3us6rb-5 {
    list-style-type: none;
}
ul.lst-kix_yabjja3us6rb-6 {
    list-style-type: none;
}
ul.lst-kix_yabjja3us6rb-7 {
    list-style-type: none;
}
ul.lst-kix_yabjja3us6rb-8 {
    list-style-type: none;
}
.lst-kix_2mczalbdtypu-1 > li:before {
    content: "-  ";
}
.lst-kix_sut31zfvoerd-2 > li:before {
    content: "-  ";
}
ol.lst-kix_5xfe55ot9xbx-3.start {
    counter-reset: lst-ctn-kix_5xfe55ot9xbx-3 0;
}
.lst-kix_5xfe55ot9xbx-3 > li:before {
    content: "" counter(lst-ctn-kix_5xfe55ot9xbx-3, decimal) ". ";
}
.lst-kix_9svjsebzqu79-0 > li:before {
    content: "-  ";
}
.lst-kix_pkgt1saga95a-6 > li {
    counter-increment: lst-ctn-kix_pkgt1saga95a-6;
}
.lst-kix_5xfe55ot9xbx-7 > li:before {
    content: "" counter(lst-ctn-kix_5xfe55ot9xbx-7, lower-latin) ". ";
}
.lst-kix_eb9jqleoogcr-5 > li {
    counter-increment: lst-ctn-kix_eb9jqleoogcr-5;
}
ol.lst-kix_ad2xoq2m3spn-8.start {
    counter-reset: lst-ctn-kix_ad2xoq2m3spn-8 0;
}
.lst-kix_w2sll28ccplz-1 > li {
    counter-increment: lst-ctn-kix_w2sll28ccplz-1;
}
.lst-kix_pkgt1saga95a-5 > li {
    counter-increment: lst-ctn-kix_pkgt1saga95a-5;
}
.lst-kix_5xfe55ot9xbx-1 > li {
    counter-increment: lst-ctn-kix_5xfe55ot9xbx-1;
}
ul.lst-kix_5268ecefiwou-2 {
    list-style-type: none;
}
.lst-kix_ta848rm74ygx-6 > li:before {
    content: "-  ";
}
.lst-kix_ta848rm74ygx-7 > li:before {
    content: "-  ";
}
ul.lst-kix_5268ecefiwou-1 {
    list-style-type: none;
}
ul.lst-kix_5268ecefiwou-0 {
    list-style-type: none;
}
ol.lst-kix_5xfe55ot9xbx-5.start {
    counter-reset: lst-ctn-kix_5xfe55ot9xbx-5 0;
}
ul.lst-kix_5268ecefiwou-6 {
    list-style-type: none;
}
.lst-kix_ta848rm74ygx-4 > li:before {
    content: "-  ";
}
.lst-kix_ta848rm74ygx-8 > li:before {
    content: "-  ";
}
ul.lst-kix_5268ecefiwou-5 {
    list-style-type: none;
}
ul.lst-kix_5268ecefiwou-4 {
    list-style-type: none;
}
ul.lst-kix_5268ecefiwou-3 {
    list-style-type: none;
}
ul.lst-kix_5268ecefiwou-8 {
    list-style-type: none;
}
ul.lst-kix_5268ecefiwou-7 {
    list-style-type: none;
}
.lst-kix_ta848rm74ygx-5 > li:before {
    content: "-  ";
}
ul.lst-kix_cjkp2b298ket-8 {
    list-style-type: none;
}
.lst-kix_8wucp4338eb-6 > li {
    counter-increment: lst-ctn-kix_8wucp4338eb-6;
}
ul.lst-kix_cjkp2b298ket-7 {
    list-style-type: none;
}
ul.lst-kix_cjkp2b298ket-6 {
    list-style-type: none;
}
.lst-kix_ta848rm74ygx-0 > li:before {
    content: "-  ";
}
ul.lst-kix_cjkp2b298ket-5 {
    list-style-type: none;
}
ul.lst-kix_cjkp2b298ket-4 {
    list-style-type: none;
}
ul.lst-kix_cjkp2b298ket-3 {
    list-style-type: none;
}
ul.lst-kix_cjkp2b298ket-2 {
    list-style-type: none;
}
.lst-kix_ta848rm74ygx-2 > li:before {
    content: "-  ";
}
.lst-kix_ta848rm74ygx-3 > li:before {
    content: "-  ";
}
ul.lst-kix_cjkp2b298ket-1 {
    list-style-type: none;
}
ul.lst-kix_cjkp2b298ket-0 {
    list-style-type: none;
}
.lst-kix_ta848rm74ygx-1 > li:before {
    content: "-  ";
}
.lst-kix_rlin2b7anhex-3 > li:before {
    content: "-  ";
}
ul.lst-kix_hyczv086lrw5-0 {
    list-style-type: none;
}
.lst-kix_rlin2b7anhex-1 > li:before {
    content: "-  ";
}
.lst-kix_rlin2b7anhex-5 > li:before {
    content: "-  ";
}
ul.lst-kix_hyczv086lrw5-3 {
    list-style-type: none;
}
ul.lst-kix_hyczv086lrw5-4 {
    list-style-type: none;
}
.lst-kix_rlin2b7anhex-0 > li:before {
    content: "-  ";
}
.lst-kix_rlin2b7anhex-4 > li:before {
    content: "-  ";
}
ul.lst-kix_hyczv086lrw5-1 {
    list-style-type: none;
}
ul.lst-kix_hyczv086lrw5-2 {
    list-style-type: none;
}
ul.lst-kix_hyczv086lrw5-7 {
    list-style-type: none;
}
ul.lst-kix_talo7qi80efh-5 {
    list-style-type: none;
}
ul.lst-kix_hyczv086lrw5-8 {
    list-style-type: none;
}
ul.lst-kix_talo7qi80efh-6 {
    list-style-type: none;
}
ul.lst-kix_hyczv086lrw5-5 {
    list-style-type: none;
}
ul.lst-kix_talo7qi80efh-7 {
    list-style-type: none;
}
ul.lst-kix_hyczv086lrw5-6 {
    list-style-type: none;
}
ul.lst-kix_talo7qi80efh-8 {
    list-style-type: none;
}
ul.lst-kix_talo7qi80efh-1 {
    list-style-type: none;
}
ol.lst-kix_eb9jqleoogcr-5.start {
    counter-reset: lst-ctn-kix_eb9jqleoogcr-5 0;
}
ul.lst-kix_talo7qi80efh-2 {
    list-style-type: none;
}
.lst-kix_rlin2b7anhex-2 > li:before {
    content: "-  ";
}
ul.lst-kix_talo7qi80efh-3 {
    list-style-type: none;
}
ul.lst-kix_talo7qi80efh-4 {
    list-style-type: none;
}
ul.lst-kix_talo7qi80efh-0 {
    list-style-type: none;
}
ol.lst-kix_w2sll28ccplz-4.start {
    counter-reset: lst-ctn-kix_w2sll28ccplz-4 0;
}
.lst-kix_pkgt1saga95a-1 > li {
    counter-increment: lst-ctn-kix_pkgt1saga95a-1;
}
.lst-kix_765qu8dv6yjc-1 > li:before {
    content: "-  ";
}
ul.lst-kix_wlj9mby81umi-7 {
    list-style-type: none;
}
ul.lst-kix_wlj9mby81umi-8 {
    list-style-type: none;
}
ul.lst-kix_wlj9mby81umi-5 {
    list-style-type: none;
}
ul.lst-kix_wlj9mby81umi-6 {
    list-style-type: none;
}
ul.lst-kix_wlj9mby81umi-3 {
    list-style-type: none;
}
ul.lst-kix_wlj9mby81umi-4 {
    list-style-type: none;
}
.lst-kix_765qu8dv6yjc-0 > li:before {
    content: "-  ";
}
ul.lst-kix_wlj9mby81umi-1 {
    list-style-type: none;
}
ol.lst-kix_5xfe55ot9xbx-0.start {
    counter-reset: lst-ctn-kix_5xfe55ot9xbx-0 0;
}
ul.lst-kix_wlj9mby81umi-2 {
    list-style-type: none;
}
ul.lst-kix_wlj9mby81umi-0 {
    list-style-type: none;
}
.lst-kix_8wucp4338eb-2 > li {
    counter-increment: lst-ctn-kix_8wucp4338eb-2;
}
ol.lst-kix_8wucp4338eb-6.start {
    counter-reset: lst-ctn-kix_8wucp4338eb-6 0;
}
.lst-kix_ad2xoq2m3spn-0 > li {
    counter-increment: lst-ctn-kix_ad2xoq2m3spn-0;
}
ol.lst-kix_ad2xoq2m3spn-1.start {
    counter-reset: lst-ctn-kix_ad2xoq2m3spn-1 0;
}
ol.lst-kix_eb9jqleoogcr-0.start {
    counter-reset: lst-ctn-kix_eb9jqleoogcr-0 0;
}
.lst-kix_cb32ghkb1ws0-3 > li:before {
    content: "-  ";
}
.lst-kix_cb32ghkb1ws0-7 > li:before {
    content: "-  ";
}
.lst-kix_cb32ghkb1ws0-1 > li:before {
    content: "-  ";
}
.lst-kix_w2sll28ccplz-8 > li {
    counter-increment: lst-ctn-kix_w2sll28ccplz-8;
}
.lst-kix_7olrfk88vb2s-1 > li:before {
    content: "-  ";
}
.lst-kix_2mczalbdtypu-6 > li:before {
    content: "-  ";
}
.lst-kix_765qu8dv6yjc-2 > li:before {
    content: "-  ";
}
.lst-kix_7olrfk88vb2s-3 > li:before {
    content: "-  ";
}
.lst-kix_cb32ghkb1ws0-5 > li:before {
    content: "-  ";
}
ul.lst-kix_2mczalbdtypu-8 {
    list-style-type: none;
}
.lst-kix_7olrfk88vb2s-5 > li:before {
    content: "-  ";
}
ol.lst-kix_8wucp4338eb-1.start {
    counter-reset: lst-ctn-kix_8wucp4338eb-1 0;
}
.lst-kix_765qu8dv6yjc-4 > li:before {
    content: "-  ";
}
.lst-kix_2mczalbdtypu-8 > li:before {
    content: "-  ";
}
.lst-kix_cjkp2b298ket-0 > li:before {
    content: "-  ";
}
.lst-kix_4h6xfuob3vfv-4 > li:before {
    content: "-  ";
}
.lst-kix_7olrfk88vb2s-7 > li:before {
    content: "-  ";
}
.lst-kix_765qu8dv6yjc-6 > li:before {
    content: "-  ";
}
.lst-kix_5xfe55ot9xbx-8 > li {
    counter-increment: lst-ctn-kix_5xfe55ot9xbx-8;
}
ul.lst-kix_d8thlrnh43ol-0 {
    list-style-type: none;
}
.lst-kix_4h6xfuob3vfv-0 > li:before {
    content: "-  ";
}
.lst-kix_4h6xfuob3vfv-2 > li:before {
    content: "-  ";
}
ul.lst-kix_d8thlrnh43ol-2 {
    list-style-type: none;
}
ul.lst-kix_d8thlrnh43ol-1 {
    list-style-type: none;
}
.lst-kix_765qu8dv6yjc-8 > li:before {
    content: "-  ";
}
ul.lst-kix_d8thlrnh43ol-4 {
    list-style-type: none;
}
ul.lst-kix_d8thlrnh43ol-3 {
    list-style-type: none;
}
.lst-kix_rlin2b7anhex-7 > li:before {
    content: "-  ";
}
ul.lst-kix_2mczalbdtypu-0 {
    list-style-type: none;
}
ul.lst-kix_d8thlrnh43ol-6 {
    list-style-type: none;
}
ul.lst-kix_2mczalbdtypu-1 {
    list-style-type: none;
}
ul.lst-kix_d8thlrnh43ol-5 {
    list-style-type: none;
}
ul.lst-kix_2mczalbdtypu-2 {
    list-style-type: none;
}
ul.lst-kix_d8thlrnh43ol-8 {
    list-style-type: none;
}
ul.lst-kix_2mczalbdtypu-3 {
    list-style-type: none;
}
ul.lst-kix_d8thlrnh43ol-7 {
    list-style-type: none;
}
ul.lst-kix_2mczalbdtypu-4 {
    list-style-type: none;
}
ul.lst-kix_2mczalbdtypu-5 {
    list-style-type: none;
}
ul.lst-kix_2mczalbdtypu-6 {
    list-style-type: none;
}
ul.lst-kix_2mczalbdtypu-7 {
    list-style-type: none;
}
.lst-kix_8wucp4338eb-3 > li {
    counter-increment: lst-ctn-kix_8wucp4338eb-3;
}
ul.lst-kix_svrtwkpzkbm3-4 {
    list-style-type: none;
}
ol.lst-kix_ad2xoq2m3spn-3.start {
    counter-reset: lst-ctn-kix_ad2xoq2m3spn-3 0;
}
ul.lst-kix_svrtwkpzkbm3-3 {
    list-style-type: none;
}
.lst-kix_cjkp2b298ket-8 > li:before {
    content: "-  ";
}
ul.lst-kix_svrtwkpzkbm3-2 {
    list-style-type: none;
}
ul.lst-kix_svrtwkpzkbm3-1 {
    list-style-type: none;
}
ul.lst-kix_svrtwkpzkbm3-8 {
    list-style-type: none;
}
ul.lst-kix_svrtwkpzkbm3-7 {
    list-style-type: none;
}
ul.lst-kix_svrtwkpzkbm3-6 {
    list-style-type: none;
}
ul.lst-kix_svrtwkpzkbm3-5 {
    list-style-type: none;
}
ul.lst-kix_c9x0vuyaxvyw-1 {
    list-style-type: none;
}
.lst-kix_ad2xoq2m3spn-4 > li {
    counter-increment: lst-ctn-kix_ad2xoq2m3spn-4;
}
ul.lst-kix_c9x0vuyaxvyw-0 {
    list-style-type: none;
}
.lst-kix_cjkp2b298ket-4 > li:before {
    content: "-  ";
}
ul.lst-kix_c9x0vuyaxvyw-3 {
    list-style-type: none;
}
ul.lst-kix_c9x0vuyaxvyw-2 {
    list-style-type: none;
}
.lst-kix_5xfe55ot9xbx-2 > li:before {
    content: "" counter(lst-ctn-kix_5xfe55ot9xbx-2, lower-roman) ". ";
}
ul.lst-kix_c9x0vuyaxvyw-5 {
    list-style-type: none;
}
ul.lst-kix_c9x0vuyaxvyw-4 {
    list-style-type: none;
}
.lst-kix_cjkp2b298ket-2 > li:before {
    content: "-  ";
}
.lst-kix_cjkp2b298ket-6 > li:before {
    content: "-  ";
}
ul.lst-kix_c9x0vuyaxvyw-7 {
    list-style-type: none;
}
ul.lst-kix_c9x0vuyaxvyw-6 {
    list-style-type: none;
}
ul.lst-kix_c9x0vuyaxvyw-8 {
    list-style-type: none;
}
.lst-kix_5xfe55ot9xbx-0 > li:before {
    content: "" counter(lst-ctn-kix_5xfe55ot9xbx-0, decimal) ". ";
}
ol.lst-kix_8wucp4338eb-4.start {
    counter-reset: lst-ctn-kix_8wucp4338eb-4 0;
}
.lst-kix_2mczalbdtypu-4 > li:before {
    content: "-  ";
}
.lst-kix_2mczalbdtypu-0 > li:before {
    content: "-  ";
}
ul.lst-kix_vuk2wugmg35k-7 {
    list-style-type: none;
}
ul.lst-kix_vuk2wugmg35k-8 {
    list-style-type: none;
}
.lst-kix_2mczalbdtypu-2 > li:before {
    content: "-  ";
}
ul.lst-kix_vuk2wugmg35k-5 {
    list-style-type: none;
}
ul.lst-kix_vuk2wugmg35k-6 {
    list-style-type: none;
}
ol.lst-kix_w2sll28ccplz-7.start {
    counter-reset: lst-ctn-kix_w2sll28ccplz-7 0;
}
ul.lst-kix_vuk2wugmg35k-3 {
    list-style-type: none;
}
ul.lst-kix_vuk2wugmg35k-4 {
    list-style-type: none;
}
ul.lst-kix_vuk2wugmg35k-1 {
    list-style-type: none;
}
ul.lst-kix_vuk2wugmg35k-2 {
    list-style-type: none;
}
.lst-kix_5xfe55ot9xbx-4 > li:before {
    content: "" counter(lst-ctn-kix_5xfe55ot9xbx-4, lower-latin) ". ";
}
ul.lst-kix_svrtwkpzkbm3-0 {
    list-style-type: none;
}
ul.lst-kix_vuk2wugmg35k-0 {
    list-style-type: none;
}
ol.lst-kix_eb9jqleoogcr-3.start {
    counter-reset: lst-ctn-kix_eb9jqleoogcr-3 0;
}
.lst-kix_5xfe55ot9xbx-6 > li:before {
    content: "" counter(lst-ctn-kix_5xfe55ot9xbx-6, decimal) ". ";
}
.lst-kix_5xfe55ot9xbx-8 > li:before {
    content: "" counter(lst-ctn-kix_5xfe55ot9xbx-8, lower-roman) ". ";
}
.lst-kix_eb9jqleoogcr-7 > li:before {
    content: "" counter(lst-ctn-kix_eb9jqleoogcr-7, lower-latin) ". ";
}
.lst-kix_eb9jqleoogcr-8 > li:before {
    content: "" counter(lst-ctn-kix_eb9jqleoogcr-8, lower-roman) ". ";
}
.lst-kix_su6iyfr1u1n2-2 > li:before {
    content: "-  ";
}
.lst-kix_wlj9mby81umi-3 > li:before {
    content: "-  ";
}
ol.lst-kix_pkgt1saga95a-0 {
    list-style-type: none;
}
ol.lst-kix_w2sll28ccplz-6.start {
    counter-reset: lst-ctn-kix_w2sll28ccplz-6 0;
}
ol.lst-kix_pkgt1saga95a-1 {
    list-style-type: none;
}
.lst-kix_svrtwkpzkbm3-0 > li:before {
    content: "-  ";
}
ol.lst-kix_pkgt1saga95a-2 {
    list-style-type: none;
}
.lst-kix_wlj9mby81umi-4 > li:before {
    content: "-  ";
}
.lst-kix_wlj9mby81umi-8 > li:before {
    content: "-  ";
}
.lst-kix_c9x0vuyaxvyw-0 > li:before {
    content: "-  ";
}
ul.lst-kix_4h6xfuob3vfv-7 {
    list-style-type: none;
}
.lst-kix_eb9jqleoogcr-3 > li:before {
    content: "" counter(lst-ctn-kix_eb9jqleoogcr-3, decimal) ". ";
}
.lst-kix_eb9jqleoogcr-4 > li:before {
    content: "" counter(lst-ctn-kix_eb9jqleoogcr-4, lower-latin) ". ";
}
ul.lst-kix_4h6xfuob3vfv-6 {
    list-style-type: none;
}
.lst-kix_su6iyfr1u1n2-6 > li:before {
    content: "-  ";
}
.lst-kix_sut31zfvoerd-8 > li:before {
    content: "-  ";
}
ul.lst-kix_4h6xfuob3vfv-8 {
    list-style-type: none;
}
.lst-kix_w2sll28ccplz-8 > li:before {
    content: "" counter(lst-ctn-kix_w2sll28ccplz-8, lower-roman) ". ";
}
.lst-kix_8wucp4338eb-7 > li {
    counter-increment: lst-ctn-kix_8wucp4338eb-7;
}
.lst-kix_su6iyfr1u1n2-5 > li:before {
    content: "-  ";
}
.lst-kix_c9x0vuyaxvyw-4 > li:before {
    content: "-  ";
}
.lst-kix_w2sll28ccplz-1 > li:before {
    content: "" counter(lst-ctn-kix_w2sll28ccplz-1, lower-latin) ". ";
}
ul.lst-kix_4h6xfuob3vfv-1 {
    list-style-type: none;
}
.lst-kix_sut31zfvoerd-4 > li:before {
    content: "-  ";
}
ul.lst-kix_4h6xfuob3vfv-0 {
    list-style-type: none;
}
ul.lst-kix_4h6xfuob3vfv-3 {
    list-style-type: none;
}
ul.lst-kix_4h6xfuob3vfv-2 {
    list-style-type: none;
}
.lst-kix_c9x0vuyaxvyw-3 > li:before {
    content: "-  ";
}
.lst-kix_c9x0vuyaxvyw-7 > li:before {
    content: "-  ";
}
ul.lst-kix_4h6xfuob3vfv-5 {
    list-style-type: none;
}
.lst-kix_ad2xoq2m3spn-1 > li {
    counter-increment: lst-ctn-kix_ad2xoq2m3spn-1;
}
.lst-kix_sut31zfvoerd-3 > li:before {
    content: "-  ";
}
.lst-kix_sut31zfvoerd-7 > li:before {
    content: "-  ";
}
ul.lst-kix_4h6xfuob3vfv-4 {
    list-style-type: none;
}
ol.lst-kix_pkgt1saga95a-3 {
    list-style-type: none;
}
.lst-kix_w2sll28ccplz-5 > li:before {
    content: "" counter(lst-ctn-kix_w2sll28ccplz-5, lower-roman) ". ";
}
ol.lst-kix_pkgt1saga95a-4 {
    list-style-type: none;
}
ol.lst-kix_pkgt1saga95a-5 {
    list-style-type: none;
}
ol.lst-kix_pkgt1saga95a-6.start {
    counter-reset: lst-ctn-kix_pkgt1saga95a-6 0;
}
ol.lst-kix_pkgt1saga95a-6 {
    list-style-type: none;
}
.lst-kix_wlj9mby81umi-7 > li:before {
    content: "-  ";
}
ol.lst-kix_pkgt1saga95a-7 {
    list-style-type: none;
}
.lst-kix_w2sll28ccplz-4 > li:before {
    content: "" counter(lst-ctn-kix_w2sll28ccplz-4, lower-latin) ". ";
}
ol.lst-kix_pkgt1saga95a-8 {
    list-style-type: none;
}
.lst-kix_su6iyfr1u1n2-1 > li:before {
    content: "-  ";
}
ol.lst-kix_8wucp4338eb-8.start {
    counter-reset: lst-ctn-kix_8wucp4338eb-8 0;
}
.lst-kix_pkgt1saga95a-5 > li:before {
    content: "" counter(lst-ctn-kix_pkgt1saga95a-5, lower-roman) ". ";
}
.lst-kix_5xfe55ot9xbx-2 > li {
    counter-increment: lst-ctn-kix_5xfe55ot9xbx-2;
}
.lst-kix_pkgt1saga95a-6 > li:before {
    content: "" counter(lst-ctn-kix_pkgt1saga95a-6, decimal) ". ";
}
.lst-kix_c9x0vuyaxvyw-8 > li:before {
    content: "-  ";
}
.lst-kix_8hzcs1sxkeoo-2 > li:before {
    content: "-  ";
}
.lst-kix_8hzcs1sxkeoo-3 > li:before {
    content: "-  ";
}
ol.lst-kix_eb9jqleoogcr-1.start {
    counter-reset: lst-ctn-kix_eb9jqleoogcr-1 0;
}
.lst-kix_eb9jqleoogcr-0 > li:before {
    content: "" counter(lst-ctn-kix_eb9jqleoogcr-0, decimal) ". ";
}
.lst-kix_pkgt1saga95a-2 > li {
    counter-increment: lst-ctn-kix_pkgt1saga95a-2;
}
ol.lst-kix_pkgt1saga95a-0.start {
    counter-reset: lst-ctn-kix_pkgt1saga95a-0 0;
}
ol.lst-kix_ad2xoq2m3spn-0.start {
    counter-reset: lst-ctn-kix_ad2xoq2m3spn-0 0;
}
.lst-kix_8hzcs1sxkeoo-6 > li:before {
    content: "-  ";
}
.lst-kix_8hzcs1sxkeoo-7 > li:before {
    content: "-  ";
}
.lst-kix_eb9jqleoogcr-4 > li {
    counter-increment: lst-ctn-kix_eb9jqleoogcr-4;
}
ul.lst-kix_c2gmv94kpho3-6 {
    list-style-type: none;
}
ul.lst-kix_c2gmv94kpho3-7 {
    list-style-type: none;
}
ul.lst-kix_c2gmv94kpho3-8 {
    list-style-type: none;
}
ol.lst-kix_8wucp4338eb-7.start {
    counter-reset: lst-ctn-kix_8wucp4338eb-7 0;
}
ol.lst-kix_pkgt1saga95a-7.start {
    counter-reset: lst-ctn-kix_pkgt1saga95a-7 0;
}
.lst-kix_vuk2wugmg35k-2 > li:before {
    content: "-  ";
}
.lst-kix_4h6xfuob3vfv-5 > li:before {
    content: "-  ";
}
.lst-kix_pkgt1saga95a-1 > li:before {
    content: "" counter(lst-ctn-kix_pkgt1saga95a-1, lower-latin) ". ";
}
.lst-kix_pkgt1saga95a-2 > li:before {
    content: "" counter(lst-ctn-kix_pkgt1saga95a-2, lower-roman) ". ";
}
ul.lst-kix_c2gmv94kpho3-0 {
    list-style-type: none;
}
ul.lst-kix_c2gmv94kpho3-1 {
    list-style-type: none;
}
ul.lst-kix_c2gmv94kpho3-2 {
    list-style-type: none;
}
ol.lst-kix_pkgt1saga95a-1.start {
    counter-reset: lst-ctn-kix_pkgt1saga95a-1 0;
}
ul.lst-kix_c2gmv94kpho3-3 {
    list-style-type: none;
}
.lst-kix_vuk2wugmg35k-1 > li:before {
    content: "-  ";
}
ul.lst-kix_c2gmv94kpho3-4 {
    list-style-type: none;
}
.lst-kix_kup5ftt8a5jc-1 > li:before {
    content: "-  ";
}
ul.lst-kix_c2gmv94kpho3-5 {
    list-style-type: none;
}
.lst-kix_w2sll28ccplz-0 > li {
    counter-increment: lst-ctn-kix_w2sll28ccplz-0;
}
.lst-kix_4h6xfuob3vfv-8 > li:before {
    content: "-  ";
}
.lst-kix_kup5ftt8a5jc-2 > li:before {
    content: "-  ";
}
.lst-kix_8wucp4338eb-5 > li {
    counter-increment: lst-ctn-kix_8wucp4338eb-5;
}
.lst-kix_kup5ftt8a5jc-6 > li:before {
    content: "-  ";
}
.lst-kix_w2sll28ccplz-0 > li:before {
    content: "" counter(lst-ctn-kix_w2sll28ccplz-0, decimal) ". ";
}
.lst-kix_eb9jqleoogcr-0 > li {
    counter-increment: lst-ctn-kix_eb9jqleoogcr-0;
}
.lst-kix_vuk2wugmg35k-5 > li:before {
    content: "-  ";
}
.lst-kix_kup5ftt8a5jc-5 > li:before {
    content: "-  ";
}
.lst-kix_vuk2wugmg35k-6 > li:before {
    content: "-  ";
}
.lst-kix_svrtwkpzkbm3-3 > li:before {
    content: "-  ";
}
.lst-kix_wlj9mby81umi-0 > li:before {
    content: "-  ";
}
.lst-kix_svrtwkpzkbm3-4 > li:before {
    content: "-  ";
}
.lst-kix_svrtwkpzkbm3-8 > li:before {
    content: "-  ";
}
.lst-kix_svrtwkpzkbm3-7 > li:before {
    content: "-  ";
}
.lst-kix_ad2xoq2m3spn-3 > li {
    counter-increment: lst-ctn-kix_ad2xoq2m3spn-3;
}
.lst-kix_cb32ghkb1ws0-4 > li:before {
    content: "-  ";
}
ul.lst-kix_9svjsebzqu79-0 {
    list-style-type: none;
}
ul.lst-kix_ta848rm74ygx-6 {
    list-style-type: none;
}
ul.lst-kix_ta848rm74ygx-7 {
    list-style-type: none;
}
ul.lst-kix_9svjsebzqu79-2 {
    list-style-type: none;
}
ul.lst-kix_ta848rm74ygx-8 {
    list-style-type: none;
}
ul.lst-kix_9svjsebzqu79-1 {
    list-style-type: none;
}
ol.lst-kix_pkgt1saga95a-2.start {
    counter-reset: lst-ctn-kix_pkgt1saga95a-2 0;
}
.lst-kix_18uww9g8391-5 > li:before {
    content: "-  ";
}
ul.lst-kix_ta848rm74ygx-2 {
    list-style-type: none;
}
ul.lst-kix_ta848rm74ygx-3 {
    list-style-type: none;
}
ul.lst-kix_ta848rm74ygx-4 {
    list-style-type: none;
}
.lst-kix_cb32ghkb1ws0-0 > li:before {
    content: "-  ";
}
.lst-kix_cb32ghkb1ws0-8 > li:before {
    content: "-  ";
}
ul.lst-kix_ta848rm74ygx-5 {
    list-style-type: none;
}
ul.lst-kix_ta848rm74ygx-0 {
    list-style-type: none;
}
ul.lst-kix_ta848rm74ygx-1 {
    list-style-type: none;
}
.lst-kix_18uww9g8391-1 > li:before {
    content: "-  ";
}
.lst-kix_c2gmv94kpho3-1 > li:before {
    content: "-  ";
}
.lst-kix_hyczv086lrw5-7 > li:before {
    content: "-  ";
}
.lst-kix_7olrfk88vb2s-2 > li:before {
    content: "-  ";
}
.lst-kix_xudbgdjecmeq-4 > li:before {
    content: "-  ";
}
.lst-kix_7olrfk88vb2s-6 > li:before {
    content: "-  ";
}
ol.lst-kix_ad2xoq2m3spn-2 {
    list-style-type: none;
}
ol.lst-kix_eb9jqleoogcr-8 {
    list-style-type: none;
}
.lst-kix_2mczalbdtypu-7 > li:before {
    content: "-  ";
}
ol.lst-kix_ad2xoq2m3spn-1 {
    list-style-type: none;
}
ol.lst-kix_eb9jqleoogcr-7 {
    list-style-type: none;
}
ol.lst-kix_ad2xoq2m3spn-0 {
    list-style-type: none;
}
ol.lst-kix_eb9jqleoogcr-6 {
    list-style-type: none;
}
ol.lst-kix_eb9jqleoogcr-5 {
    list-style-type: none;
}
.lst-kix_765qu8dv6yjc-5 > li:before {
    content: "-  ";
}
ol.lst-kix_eb9jqleoogcr-4 {
    list-style-type: none;
}
.lst-kix_cjkp2b298ket-1 > li:before {
    content: "-  ";
}
ol.lst-kix_eb9jqleoogcr-3 {
    list-style-type: none;
}
ol.lst-kix_eb9jqleoogcr-2 {
    list-style-type: none;
}
ol.lst-kix_eb9jqleoogcr-1 {
    list-style-type: none;
}
ol.lst-kix_eb9jqleoogcr-0 {
    list-style-type: none;
}
.lst-kix_d8thlrnh43ol-7 > li:before {
    content: "-  ";
}
.lst-kix_xudbgdjecmeq-8 > li:before {
    content: "-  ";
}
.lst-kix_4h6xfuob3vfv-1 > li:before {
    content: "-  ";
}
.lst-kix_8wucp4338eb-0 > li {
    counter-increment: lst-ctn-kix_8wucp4338eb-0;
}
ol.lst-kix_w2sll28ccplz-2.start {
    counter-reset: lst-ctn-kix_w2sll28ccplz-2 0;
}
.lst-kix_rlin2b7anhex-8 > li:before {
    content: "-  ";
}
ul.lst-kix_9svjsebzqu79-4 {
    list-style-type: none;
}
ul.lst-kix_9svjsebzqu79-3 {
    list-style-type: none;
}
.lst-kix_c2gmv94kpho3-5 > li:before {
    content: "-  ";
}
ul.lst-kix_9svjsebzqu79-6 {
    list-style-type: none;
}
ul.lst-kix_9svjsebzqu79-5 {
    list-style-type: none;
}
ul.lst-kix_9svjsebzqu79-8 {
    list-style-type: none;
}
ul.lst-kix_9svjsebzqu79-7 {
    list-style-type: none;
}
.lst-kix_d8thlrnh43ol-3 > li:before {
    content: "-  ";
}
.lst-kix_yabjja3us6rb-4 > li:before {
    content: "-  ";
}
.lst-kix_9svjsebzqu79-6 > li:before {
    content: "-  ";
}
.lst-kix_eb9jqleoogcr-2 > li {
    counter-increment: lst-ctn-kix_eb9jqleoogcr-2;
}
.lst-kix_yabjja3us6rb-0 > li:before {
    content: "-  ";
}
.lst-kix_yabjja3us6rb-8 > li:before {
    content: "-  ";
}
.lst-kix_w2sll28ccplz-5 > li {
    counter-increment: lst-ctn-kix_w2sll28ccplz-5;
}
.lst-kix_cjkp2b298ket-5 > li:before {
    content: "-  ";
}
.lst-kix_5xfe55ot9xbx-4 > li {
    counter-increment: lst-ctn-kix_5xfe55ot9xbx-4;
}
ol.lst-kix_pkgt1saga95a-4.start {
    counter-reset: lst-ctn-kix_pkgt1saga95a-4 0;
}
.lst-kix_9svjsebzqu79-2 > li:before {
    content: "-  ";
}
ul.lst-kix_cb32ghkb1ws0-8 {
    list-style-type: none;
}
.lst-kix_5xfe55ot9xbx-1 > li:before {
    content: "" counter(lst-ctn-kix_5xfe55ot9xbx-1, lower-latin) ". ";
}
ol.lst-kix_ad2xoq2m3spn-6 {
    list-style-type: none;
}
.lst-kix_ad2xoq2m3spn-8 > li {
    counter-increment: lst-ctn-kix_ad2xoq2m3spn-8;
}
ol.lst-kix_ad2xoq2m3spn-5 {
    list-style-type: none;
}
ol.lst-kix_ad2xoq2m3spn-4 {
    list-style-type: none;
}
ol.lst-kix_ad2xoq2m3spn-3 {
    list-style-type: none;
}
ol.lst-kix_w2sll28ccplz-1.start {
    counter-reset: lst-ctn-kix_w2sll28ccplz-1 0;
}
ol.lst-kix_ad2xoq2m3spn-8 {
    list-style-type: none;
}
ol.lst-kix_ad2xoq2m3spn-7 {
    list-style-type: none;
}
.lst-kix_hyczv086lrw5-3 > li:before {
    content: "-  ";
}
ol.lst-kix_w2sll28ccplz-0.start {
    counter-reset: lst-ctn-kix_w2sll28ccplz-0 0;
}
.lst-kix_pkgt1saga95a-0 > li {
    counter-increment: lst-ctn-kix_pkgt1saga95a-0;
}
.lst-kix_2mczalbdtypu-3 > li:before {
    content: "-  ";
}
ul.lst-kix_cb32ghkb1ws0-6 {
    list-style-type: none;
}
ul.lst-kix_cb32ghkb1ws0-7 {
    list-style-type: none;
}
ul.lst-kix_cb32ghkb1ws0-4 {
    list-style-type: none;
}
ul.lst-kix_cb32ghkb1ws0-5 {
    list-style-type: none;
}
.lst-kix_sut31zfvoerd-0 > li:before {
    content: "-  ";
}
ul.lst-kix_cb32ghkb1ws0-2 {
    list-style-type: none;
}
.lst-kix_xudbgdjecmeq-0 > li:before {
    content: "-  ";
}
ul.lst-kix_cb32ghkb1ws0-3 {
    list-style-type: none;
}
li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt;
}
ul.lst-kix_cb32ghkb1ws0-0 {
    list-style-type: none;
}
ul.lst-kix_cb32ghkb1ws0-1 {
    list-style-type: none;
}
ol.lst-kix_pkgt1saga95a-5.start {
    counter-reset: lst-ctn-kix_pkgt1saga95a-5 0;
}
.lst-kix_5xfe55ot9xbx-5 > li:before {
    content: "" counter(lst-ctn-kix_5xfe55ot9xbx-5, lower-roman) ". ";
}
ol {
    margin: 0;
    padding: 0;
}
table td,
table th {
    padding: 0;
}
.c18 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 299.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}
.c6 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 150.8pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}
.c2 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c52 {
    margin-left: 108pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c28 {
    margin-left: 72pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c31 {
    margin-left: 18pt;
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c19 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: italic;
}
.c24 {
    color: #660000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Arial";
    font-style: normal;
}
.c11 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 20pt;
    font-family: "Arial";
    font-style: normal;
}
.c34 {
    color: #20124d;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Arial";
    font-style: normal;
}
.c30 {
    padding-top: 18pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c80 {
    padding-top: 0pt;
    padding-bottom: 16pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c3 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal;
}
.c7 {
    color: #7f6000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Arial";
    font-style: normal;
}
.c69 {
    padding-top: 20pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c22 {
    padding-top: 0pt;
    padding-bottom: 3pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c13 {
    color: #073763;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Arial";
    font-style: normal;
}
.c83 {
    margin-left: 18pt;
    padding-top: 3pt;
    padding-bottom: 4pt;
    line-height: 1;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c1 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Arial";
    font-style: normal;
}
.c9 {
    color: #783f04;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Arial";
    font-style: normal;
}
.c43 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c16 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Arial";
    font-style: normal;
}
.c77 {
    padding-top: 4pt;
    padding-bottom: 0pt;
    line-height: 1;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c33 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal;
}
.c73 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center;
}
.c20 {
    padding-top: 10pt;
    padding-bottom: 0pt;
    line-height: 1;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c60 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c23 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal;
}
.c27 {
    text-decoration-skip-ink: none;
    font-size: 10pt;
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline;
}
.c0 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: left;
}
.c26 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto;
}
.c15 {
    font-size: 10pt;
    font-family: "Times New Roman";
    color: #660000;
    font-weight: 400;
}
.c25 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: center;
}
.c40 {
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
}
.c37 {
    background-color: #ffffff;
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt;
}
.c36 {
    font-size: 10pt;
    font-family: "Times New Roman";
    color: #073763;
}
.c61 {
    color: #7f6000;
    font-size: 9pt;
    font-family: "Arial";
}
.c29 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration: underline;
}
.c49 {
    color: #000000;
    font-size: 26pt;
    font-family: "Arial";
}
.c35 {
    background-color: #cfe2f3;
    color: #073763;
}
.c32 {
    color: inherit;
    text-decoration: inherit;
}
.c21 {
    background-color: #f4cccc;
    color: #660000;
}
.c79 {
    text-decoration: none;
    vertical-align: baseline;
}
.c51 {
    color: #000000;
    font-family: "Times New Roman";
}
.c47 {
    color: #000000;
    font-size: 11pt;
}
.c38 {
    color: #666666;
    font-size: 10pt;
}
.c10 {
    color: #7f6000;
    font-size: 10pt;
}
.c70 {
    color: #666666;
    font-size: 15pt;
}
.c56 {
    margin-left: 72pt;
    padding-left: 0pt;
}
.c4 {
    padding: 0;
    margin: 0;
}
.c53 {
    margin-left: 108pt;
    padding-left: 0pt;
}
.c84 {
    vertical-align: baseline;
    font-style: normal;
}
.c41 {
    color: #20124d;
    font-size: 10pt;
}
.c46 {
    font-size: 10pt;
    color: #660000;
}
.c12 {
    margin-left: 36pt;
    padding-left: 0pt;
}
.c45 {
    background-color: #f4cccc;
}
.c81 {
    height: 20pt;
}
.c44 {
    font-family: "Consolas";
}
.c82 {
    color: #660000;
}
.c55 {
    background-color: #cfe2f3;
}
.c75 {
    background-color: #fff2cc;
}
.c59 {
    color: #783f04;
}
.c48 {
    font-size: 10pt;
}
.c68 {
    font-family: "Times New Roman";
}
.c71 {
    color: #000000;
}
.c72 {
    color: #20124d;
}
.c39 {
    height: 0pt;
}
.c67 {
    margin-left: 36pt;
}
.c54 {
    height: 21pt;
}
.c17 {
    background-color: #d9ead3;
}
.c66 {
    background-color: #fce5cd;
}
.c57 {
    color: #274e13;
}
.c5 {
    height: 11pt;
}
.c50 {
    background-color: #000000;
}
.c62 {
    margin-left: 108pt;
}
.c63 {
    font-style: italic;
}
.c74 {
    color: #7f6000;
}
.c8 {
    font-weight: 700;
}
.c64 {
    font-family: "Arial";
}
.c14 {
    background-color: #efefef;
}
.c76 {
    background-color: #d9d2e9;
}
.c58 {
    background-color: #9fc5e8;
}
.c42 {
    font-weight: 400;
}
.c78 {
    font-size: 9pt;
}
.c65 {
    color: #1155cc;
}
.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial";
}
p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial";
}
h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
}
